<a href="https://colab.research.google.com/github/jupihes/ARIMA/blob/master/polars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced pandas - Day 5
## Polars - part 1


### Little history from `polars` main developer

 _**Ritchie Vink**_ - from "Polars The defenetive guide" Book -


> In December 2019, I became a dad, and then the lockdown hit. This left me dazed; juggling life with a newborn and trying to hold on to a sense of “me”. In a burst of new-dad sleep deprivation, I figured I’d take on a new project. Honestly, it started as nothing more than a hobby.

> At work, I had to join two CSV files while programming in `Rust`, and it felt like way more hassle than it should have been. I wondered if there were easier ways to get it done, than setting up SQLite. So, as one often does in software development, I decided to try my hand at creating my own join algorithm.

> At that point, I was pretty new to `Rust` and didn’t know much about optimizing performance. So as a proud writer of my first join algorithm, I learned that my implementation was much slower than pandas. This unsatisfying result planted the seed of what would later become Polars.

> This led me down a path of researching database engines, learning Rust, and a lot of trial and error over the next year and a half. As I learned more about databases, algorithms, performance, memory, unsafe code, etc., my goals shifted. I went from just wanting to make a faster join than pandas to building a DataFrame library for Rust, and eventually, a high-performance query engine that could rival the state of the art in the Python landscape.

> I drew inspiration from pandas’ strengths and weaknesses, the declarative approaches of SQL and PySpark, functional programming principles, and the rigor of Rust’s type system. At first, I even thought I’d model it directly on the pandas API. But I quickly realized that limiting myself that way hurt my creative drive and would only lead to a less effective tool. When I decided to let go of this constraint and merged the lazy and eager APIs into one expression-based API, the project was molding into something people might nowadays recognize as Polars.

> On March 15, 2021, I released this as a research project on PyPI. I was able to evolve this pet project into a full-fledged DataFrame processing package called Polars. Eventually, Polars’ success enabled me to secure funding and start my own company, Polars Inc.


[Ritchie Vink](https://www.ritchievink.com/blog/2021/02/28/i-wrote-one-of-the-fastest-dataframe-libraries/)




## `Pandas` vs `Polars`

- [reveiw benchmarks](https://h2oai.github.io/db-benchmark/)
- [benchmarks on `polars` github](https://pola.rs/posts/benchmarks/#)

- What are the main differencs?
   - [quick review of Polars](https://realpython.com/polars-python/)

## Learn Polars

> 🚧 This collection is a work in progress. Please help us add notebooks!

10 notebooks:


1. [Why Polars](https://marimo-team.github.io/learn/polars/01_why_polars.html)
  - [Hesamed version - Why Polars](https://github.com/jupihes/pandas_polars_course/blob/main/01_why_polars.md)

2. [Dataframes](https://marimo-team.github.io/learn/polars/02_dataframes.html)
3. [Basic Operations](https://marimo-team.github.io/learn/polars/04_basic_operations.html)
4. [Reactive Plots](https://marimo-team.github.io/learn/polars/05_reactive_plots.html)
5. [Working With Columns](https://marimo-team.github.io/learn/polars/08_working_with_columns.html)
6. [Data Types](https://marimo-team.github.io/learn/polars/09_data_types.html)
7. [Strings](https://marimo-team.github.io/learn/polars/10_strings.html)
8. [Aggregations](https://marimo-team.github.io/learn/polars/12_aggregations.html)
9. [Window Functions](https://marimo-team.github.io/learn/polars/13_window_functions.html)
10. [User Defined Functions](https://marimo-team.github.io/learn/polars/14_user_defined_functions.html)

[Very good learning contents](https://marimo-team.github.io/learn/)

<!--

Table of Contents

    The Python Polars Library
        Getting to Know Polars
        Installing Python Polars
    DataFrames, Expressions, and Contexts
        Getting Started With Polars DataFrames
        Polars Contexts and Expressions
    The Lazy API
        Working With LazyFrames
        Scanning Data With LazyFrames
    Seamless Integration
        Integration With External Data Sources
        Integration With the Python Ecosystem
    Next Steps
    Conclusion

-->

### benchmark review


[Blog post ritchievink](https://www.ritchievink.com/blog/2021/02/28/i-wrote-one-of-the-fastest-dataframe-libraries/)

[db-benchmark](https://h2oai.github.io/db-benchmark/)
[](https://realpython.com/polars-python/)


https://github.com/Joanna-Khek/effective-pandas/blob/main/9-manipulation-methods.ipynb

https://h2oai.github.io/db-benchmark/

![sample benchmark_2021](https://h2oai.github.io/db-benchmark/groupby/G1_1e9_1e2_0_0_basic.png)

[benchmark at `polars` git]()

In [ ]:
import numpy as np

my_arr = np.arange(1_000_000)
my_list = list(range(1_000_000))

In [ ]:
%timeit my_arr2 = my_arr * 2

1.11 ms ± 96.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
%timeit my_list2 = [x * 2 for x in my_list]

77.7 ms ± 15.5 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
77.7 / 1.11

70.0

In [ ]:
del my_arr; del my_arr;del my_list2;del my_list;

NameError: name 'my_arr' is not defined

##### Dataset at Google drive

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import polars as pl

In [ ]:
%%timeit
# cols = ['id', 'Age', 'Daramad', 'SabteAhval_provincename']
pl.read_csv('gdrive/My Drive/Pandas/nemone_2_darsadi_1402.csv')#, usecols=cols)

4.39 s ± 2.28 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
# cols = ['id', 'Age', 'Daramad', 'SabteAhval_provincename']
df_1 = pd.read_csv('gdrive/My Drive/Pandas/nemone_2_darsadi_1402.csv')#, usecols=cols)

5.25 s ± 1.35 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
print(f'Sample performance Polars/Pandas = {11.8/3.97:.2f}')
print(f'Sample performance Polars/Pandas = {5.25/1.94:.2f}')

Sample performance Polars/Pandas = 2.97
Sample performance Polars/Pandas = 2.71



---


> `polars` approximately outperform `pandas` on shared cloud compute servers with factor 3

# sample complex preporcess and clean chaining

In [ ]:
# Sample pandas method chaining
import pandas as pd
from os import chdir

chdir(r'.../data')

def data_cleaning(input_csv):
    df = (pd.read_csv(input_csv, parse_dates=['date', 'tansaction_rdate'])   # basic read file. It is highly recommended to use `read_csv` features.
            .rename(columns=str.lower) # rename columns or change all to lower or upper
            .rename(columns=lambda s: s.strip())  # to remove out of name 'spaces' in name of columns
            .rename(columns= {'date':'date_key', 'customer_id':'id_number'}) # rename columns or change all to lower or upper
            .drop('payment_id', axis=1) # drop column or drop row
            .assign(date_key=lambda x: x['date_key'].dt.strftime('%Y%m%d'),  # make new columns from existintg - useful for calculation, data_time, change to categorical
                    id_number_clean=lambda x: x['id_number'].astype(str).str[2:],  # get rid of the first 2 digits - substr in SQL
                    id_number_lastdigit=lambda x: x['id_number'].astype(str).str[-1],  # extract last digit to be used
                    id_number_extended=lambda x: '1' + x['id_number'].astype(str).str[2:] + '935',  # add text - Concatenate in SQL
                    id_number_check=lambda x: x['id_number'].str.contains(r'\d{11}'),  # regex usecase sample: check if columns contains pattern of 11 decimal digit
                    tansaction=lambda x: x['tansaction'].replace({'%':''}, regex=True).astype('float'),  # remove '%' character from 'tansaction' column and convert to float
                    transaction_hour=lambda x: x['transaction_date'].dt.hour)  # extract hour
            .query('delearname in ("CAB", "FOOD", "MARKET")')   # filtering on column with `in`
            #.sort_values(by = ['granted_gift_irr'], ascending=False)
            .assign(rank=lambda x: x.sort_values(['granted_gift_irr', 'id_number_lastdigit','transaction_hour'], #  make rank based on 3 columns; similar to `SQL` partition by
                                                 ascending=(False, True, True)
                                                 )
                    .groupby(['date_key', 'id_number_lastdigit'])
                    .cumcount()
                    + 1
                    )
            .query("rank < 3")
            .sort_values(["date_key", "rank"])  # sort values
          )
    return df

df = data_cleaning('cashback_data_20250517.csv')

In [ ]:
1 / 0.2727 **3

49.311088143456004

In [ ]:
import json
import pandas as pd

# Read and validate JSON
with open("your_file.json", "r", encoding="utf-8") as f:
    try:
        data = json.load(f)  # Catches syntax errors
    except json.JSONDecodeError as e:
        print(f"JSON syntax error: {e}")
        raise

# Convert to DataFrame
df = pd.DataFrame(data)

# review main functionalities of `polars`

- Eager mode vs Lazy mode
- Query optimization
  - Know the stuff
  - remember to do
  - Correct implementation


https://gist.github.com/bitsnaps/aa83219c4ffdd04e56b76bb23523bfb2


   - Why `Polars` is so performant and attention-grabbing
   - How to work with DataFrames, expressions, and contexts
   - What the `lazy` API is and how to use it
   - How to integrate Polars with external data sources and the broader Python ecosystem

![ppdg_0102.png]()



<figure>
<center>
<img src=https://github.com/jupihes/pandas_polars_course/blob/main/images/polars_pydata2024_3.jpg />
<figcaption>Polars - highlevel view</figcaption></center>
</figure>

In [3]:
ls

pandas_spark_trino.jpg   polars_pydata2024_2.jpg  sample_data/
polars_pydata2024_1.jpg  polars_pydata2024_3.jpg

![]('./pandas_spark_trino.jpg')



<figure>
<center>
<img src=https://github.com/jupihes/pandas_polars_course/blob/main/images/pandas_spark_trino.jpg />
<figcaption>Polars vs other tools - data size handling perspective</figcaption></center>
</figure>

- `parquet` $\to$ compressed data on disk
- `Arrow`$\to$ uncompressed data on disk

## Key Concepts


- Lazy evaluation

  Polars employs “lazy” evaluation, where computations are built into an optimized execution plan and executed only when needed. This approach minimizes unnecessary work and can lead to substantial performance gains.

- Expressions

  Polars uses expressions to define operations on DataFrames. These expressions are composable, allowing users to create complex data pipelines without intermediate results.

- Query optimization
   
   The package automatically optimizes the execution plan for efficient resource use, based on expressions and data characteristics.

Advantages
Here is a quick rundown of Polars’ main advantages:

Performance
Thanks to its efficient algorithms, parallel execution engine, and use of vectorization with Single Instruction, Multiple Data (SIMD), Polars is designed to take full advantage of modern hardware. It can optionally leverage NVIDIA GPUs to further improve performance (we benchmark the difference the GPU makes in the Appendix).

Memory efficiency
Polars requires less memory for operations than other data processing package



Key Concepts
Key concepts you’ll become familiar with in this book include:

Lazy evaluation
Polars employs “lazy” evaluation, where computations are built into an optimized execution plan and executed only when needed. This approach minimizes unnecessary work and can lead to substantial performance gains.

Expressions
Polars uses expressions to define operations on DataFrames. These expressions are composable, allowing users to create complex data pipelines without intermediate results.

Query optimization
The package automatically optimizes the execution plan for efficient resource use, based on expressions and data characteristics.

Advantages
Here is a quick rundown of Polars’ main advantages:

Performance
Thanks to its efficient algorithms, parallel execution engine, and use of vectorization with Single Instruction, Multiple Data (SIMD), Polars is designed to take full advantage of modern hardware. It can optionally leverage NVIDIA GPUs to further improve performance (we benchmark the difference the GPU makes in the Appendix).

Memory efficiency
Polars requires less memory for operations than other data processing packages.

Interoperability
Built on Apache Arrow, a standardized columnar memory format for flat and hierarchical data, Polars offers excellent interoperability with other data processing tools and packages. It can be used directly in Rust, and has language bindings for Python, R, SQL, JavaScript, and Julia. In a moment we’ll explain why this book focuses on Python specifically.

Streaming capabilities
Polars can process data in chunks, allowing for out-of-core computations on datasets that don’t fit in memory.

In [ ]:
import polars as pl

In [ ]:
!ls gdrive/MyDrive/Pandas

nemone_2_darsadi_1402.csv

**bold text**
image

<!--

![](https://www.rhosignal.com/assets/boolean_vs_filter_query.png)

-->

In [ ]:
%%timeit
pd.read_csv('gdrive/My Drive/Pandas/nemone_2_darsadi_1402.csv').query("id == 717641288407").head()

4.39 s ± 202 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
(
    pl.scan_csv('gdrive/My Drive/Pandas/nemone_2_darsadi_1402.csv')
    .filter(pl.col("id") == "717641288407")
)

37.1 µs ± 8.52 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
print(f'polars over pandas : {4.39/(37.1 * 10**-6 )}')

polars over pandas : 118328.8409703504

### [`scan_csv` options](https://docs.pola.rs/api/python/dev/reference/api/polars.scan_csv.html)

```python
polars.scan_csv(

    source: str | Path | IO[str] | IO[bytes] | bytes | list[str] | list[Path] | list[IO[str]] | list[IO[bytes]] | list[bytes],
    *,
    has_header: bool = True,
    separator: str = ',',
    comment_prefix: str | None = None,
    quote_char: str | None = '"',
    skip_rows: int = 0,
    skip_lines: int = 0,
    schema: SchemaDict | None = None,
    schema_overrides: SchemaDict | Sequence[PolarsDataType] | None = None,
    null_values: str | Sequence[str] | dict[str, str] | None = None,
    missing_utf8_is_empty_string: bool = False,
    ignore_errors: bool = False,
    cache: bool = True,
    with_column_names: Callable[[list[str]], list[str]] | None = None,
    infer_schema: bool = True,
    infer_schema_length: int | None = 100,
    n_rows: int | None = None,
    encoding: CsvEncoding = 'utf8',
    low_memory: bool = False,
    rechunk: bool = False,
    skip_rows_after_header: int = 0,
    row_index_name: str | None = None,
    row_index_offset: int = 0,
    try_parse_dates: bool = False,
    eol_char: str = '\n',
    new_columns: Sequence[str] | None = None,
    raise_if_empty: bool = True,
    truncate_ragged_lines: bool = False,
    decimal_comma: bool = False,
    glob: bool = True,
    storage_options: dict[str, Any] | None = None,
    credential_provider: CredentialProviderFunction | Literal['auto'] | None = 'auto',
    retries: int = 2,
    file_cache_ttl: int | None = None,
    include_file_paths: str | None = None,

) → LazyFrame
```

In [ ]:
(df
    .filter(pl.col("nrs") < 4)
    .groupby("groups")
    .agg(pl.all()
           .sum()
    )
)



|pandas| polars|
|-|-|
|` df[["nrs", "names"]]`| `df.select(["nrs", "names"])`|

---
# Advanced pandas - Day 5
## Polars - part 2

italicized text

In [ ]:
# query: average height of male and female after the age of 15 years

# step-1: filter
filtered_df_pd = df_pd[df_pd["Age"] > 15]

# step-2: groupby and aggregation
result_pd = filtered_df_pd.groupby("Gender")["Height_CM"].mean()
result_pd

In [ ]:
# filter, groupby and aggregation using method chaining
result_pl = (data_pl
             .filter(pl.col("Age") > 15)
             .group_by("Gender")
             .agg(pl.mean("Height_CM"))
            )
result_pl

# query optimization

In [ ]:
(
    df
    .groupby(by="Category").agg(pl.col("Number1").mean())
    .filter(pl.col("Category").is_in(["A", "B"]))
)

#### change order

In [ ]:
(
    df
    .filter(pl.col("Category").is_in(["A", "B"]))
    .groupby(by="Category").agg(pl.col("Number1").mean())
)

In [ ]:
df = pl.scan_csv("large_dataset.csv")  # Lazy DataFrame
result = df.filter(pl.col("A") > 1).groupby("A").agg(pl.sum("B")).collect()  # Execute

In [ ]:
df = (pl.scan_csv("large_dataset.csv")  # Lazy DataFrame
      .filter(pl.col("A") > 1)
      .groupby("A").agg(pl.sum("B"))
     # filter
     # sort
      .collect()  # Execute
     )

- `polars.LazyFrame.collect`     [source]()
- `InProcessQuery.fetch()` → DataFrame | None
[source]()

In [ ]:
# Convert to Pandas DataFrame
pandas_df = df.to_pandas()

# Convert to NumPy array
numpy_array = df.to_numpy()

### `Polars` does not have an `index`

### make new column(s)

In [ ]:
df.with_columns(
                (pl.col("random") * pl.col("nrs"))
                .alias("product")
               )


df.with_columns(
     [
        (pl.col("random") * pl.col("nrs")) \
        .alias("product"),
        pl.col("names").str.lengths() \
        .alias("names_lengths"),
     ]
)

NameError: name 'df' is not defined

In [ ]:
(
    df.select(
        [
        "names",
        "groups",
        pl.col("random").sum().over("names") \
        .alias("sum_by_names"),
        pl.col("random").sum().over("groups") \
        .alias("sum_by_groups"),
        ]
            )
).filter(pl.col("sum_by_names")> 10)

```python
DataFrame.join(

    other: DataFrame,
    on: str | Expr | Sequence[str | Expr] | None = None,
    how: JoinStrategy = 'inner',
    *,
    left_on: str | Expr | Sequence[str | Expr] | None = None,
    right_on: str | Expr | Sequence[str | Expr] | None = None,
    suffix: str = '_right',
    validate: JoinValidation = 'm:m',
    nulls_equal: bool = False,
    coalesce: bool | None = None,
    maintain_order: MaintainOrderJoin | None = None,

) → DataFrame
```

In [ ]:
df.filter(
    pl.col("foo") <= 2,
    ~pl.col("ham").is_in(["b", "c"]),
)

- **

In [ ]:
df.filter(foo=2, ham="b")

In [ ]:
df.with_columns(
    maximum_revenue=pl.col("revenue").max().over("channel"),
    cumulative_revenue=pl.col("revenue").cum_sum().over("channel"),
    revenue_rank=pl.col("revenue").rank(descending=True).over("channel"),
    day_on_day_change=pl.col("revenue").diff().over("channel"),
)

In [ ]:
col         = 'consumption_energy'
conditions  = [ df2[col] >= 400, (df2[col] < 400) & (df2[col]> 200), df2[col] <= 200 ]
choices     = [ "high", 'medium', 'low' ]

df2["energy_class"] = np.select(conditions, choices, default=np.nan)

In [ ]:
col         = 'consumption_energy'
conditions  = [ df2[col] >= 400, (df2[col] < 400) & (df2[col]> 200), df2[col] <= 200 ]
choices     = [ "high", 'medium', 'low' ]

df2["energy_class"] = np.select(conditions, choices, default=np.nan)

---
# Advanced pandas - Day 5
## Discussion on SQL functionality in `pandas`, `polars`  - part 3

- [pandas doc - comparison_with_sql](https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html)
- [Cheatsheet pandas vs SQL](https://github.com/jupihes/SQL-versus-Pandas/blob/master/Pandas_SQL-like_functionality.pdf)
- [`polars` existing SQL functionalities](https://docs.pola.rs/api/python/stable/reference/sql/index.html)
- duckdb as query engine
- Narwhals dataframe agnostic module



---

In [ ]:
import pandas as pd
import numpy as np

cols = ['id', 'Age', 'Daramad', 'SabteAhval_provincename']
df_1 = pd.read_csv('gdrive/My Drive/Pandas/nemone_2_darsadi_1402.csv', usecols=cols)

# Rename columns
df_1 = df_1.rename(columns={'SabteAhval_provincename': 'Province', 'id': 'ID'})

# Create Daramad_category using numpy.where
df_1['Daramad_category'] = np.where(
    df_1['Daramad'] > 7.7128e8, 'High',
    np.where(
        df_1['Daramad'] < 7.7128e7, 'Low', 'Medium'
    )
)

In [ ]:
cols = ['id', 'Age', 'Daramad', 'SabteAhval_provincename']
df = (
    pd.read_csv('gdrive/My Drive/Pandas/nemone_2_darsadi_1402.csv', usecols=cols)
    .rename({'SabteAhval_provincename': 'Province', 'id': 'ID'})
     ).assign(
         'Daramad_category' = lambda x: np.where(x['Daramad'] > 7.7128e8, 'High',
                              np.where(x['Daramad'] < 7.7128e7, 'Low',
                                       'Medium')
         )
         )

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-21-7e551a83f0af>, line 4)

In [ ]:
%%timeit
# When-Then-Otherwise
cols = ['id', 'Age', 'Daramad', 'SabteAhval_provincename']
(
    pl.scan_csv('gdrive/My Drive/Pandas/nemone_2_darsadi_1402.csv')
        .select(cols)
        .rename({'SabteAhval_provincename': 'Province', 'id': 'ID'})
        .lazy()
        .with_columns(
            pl.when(pl.col('Daramad') > 7.7128e8)
            .then(pl.lit('High'))
            .when(pl.col('Daramad') < 7.7128e7)
            .then(pl.lit('Low'))
            .otherwise(pl.lit('Medium'))
            .alias('Daramad_category')
        ).collect()
)

1.74 s ± 867 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

### sample polars read_clean chaininig

In [ ]:
def data_cleaning(input_csv):
    df = (
        pl.read_csv(input_csv, dtypes={'date': pl.Datetime, 'transaction_date': pl.Datetime})
        .pipe(lambda df: df.rename({col: col.lower() for col in df.columns}))
        .rename({'date': 'date_key', 'customer_msisdn': 'msisdn_nsk'})
        .drop('payment_id')
        .with_columns(
            pl.col('date_key').dt.strftime('%Y%m%d').alias('date_key'),
            pl.col('msisdn_nsk').cast(pl.Utf8).str.slice(2).alias('msisdn_nsk_clean'),
            pl.col('msisdn_nsk').cast(pl.Utf8).str.slice(-1).alias('msisdn_lastdigit'),
            pl.col('transaction_date').dt.hour().alias('temp_hour')
        )
        .filter(pl.col('delearname').is_in(["SNAPCAB", "SNAPFOOD", "SNAPMARKET"]))
        .with_columns(
            pl.int_range(1, pl.len() + 1)
            .over(
                'date_key',
                order_by=[
                    pl.col('granted_gift_irr').desc(),
                    'msisdn_lastdigit',
                    'temp_hour'
                ]
            )
            .alias('rank')
        )
        .sort(['date_key', 'rank'])
    )
    return df

temp_df = data_cleaning('marketplace_cashback_20perc_20220517.csv')

shape: (1_697_816, 5)
┌──────────────┬─────┬───────────┬────────────────┬──────────────────┐
│ ID           ┆ Age ┆ Daramad   ┆ Province       ┆ Daramad_category │
│ ---          ┆ --- ┆ ---       ┆ ---            ┆ ---              │
│ i64          ┆ i64 ┆ i64       ┆ str            ┆ str              │
╞══════════════╪═════╪═══════════╪════════════════╪══════════════════╡
│ 717641288407 ┆ 9   ┆ null      ┆ خراسان رضوی    ┆ Medium           │
│ 84729392521  ┆ 30  ┆ null      ┆ یزد            ┆ Medium           │
│ 480898026296 ┆ 33  ┆ null      ┆ گیلان           ┆ Medium           │
│ 72903495587  ┆ 54  ┆ null      ┆ فارس           ┆ Medium           │
│ 597960900957 ┆ 35  ┆ 147799911 ┆ آذربایجان غربی ┆ Medium           │
│ …            ┆ …   ┆ …         ┆ …              ┆ …                │
│ 53326817442  ┆ 12  ┆ null      ┆ هرمزگان        ┆ Medium           │
│ 208062992297 ┆ 33  ┆ null      ┆ هرمزگان        ┆ Medium           │
│ 360855746695 ┆ 41  ┆ null      ┆ فارس           ┆ Medium           │
│ 513741239072 ┆ 54  ┆ 54852268  ┆ تهران          ┆ Low              │
│ 231940330996 ┆ 27  ┆ 54852268  ┆ خراسان رضوی    ┆ Low              │
└──────────────┴─────┴───────────┴────────────────┴──────────────────┘

<!--
https://www.rhosignal.com/posts/polars-boolean-filter/

![boolean filter](https://www.rhosignal.com/assets/boolean_vs_filter.png)

-->

In [ ]:
df = pl.scan_csv('gdrive/My Drive/Pandas/nemone_2_darsadi_1402.csv').collect()

In [ ]:
df.head()

shape: (5, 48)
┌─────────────┬─────────────┬──────────┬─────┬───┬────────────┬───────────┬────────────┬───────────┐
│ id          ┆ Parent_Id   ┆ GenderId ┆ Age ┆ … ┆ CarsPrice  ┆ CarsCount ┆ Bourse_Net ┆ Daramad   │
│ ---         ┆ ---         ┆ ---      ┆ --- ┆   ┆ ---        ┆ ---       ┆ PortfoValu ┆ ---       │
│ i64         ┆ i64         ┆ i64      ┆ i64 ┆   ┆ i64        ┆ i64       ┆ e          ┆ i64       │
│             ┆             ┆          ┆     ┆   ┆            ┆           ┆ ---        ┆           │
│             ┆             ┆          ┆     ┆   ┆            ┆           ┆ i64        ┆           │
╞═════════════╪═════════════╪══════════╪═════╪═══╪════════════╪═══════════╪════════════╪═══════════╡
│ 71764128840 ┆ 32775474650 ┆ 2        ┆ 9   ┆ … ┆ null       ┆ null      ┆ 0          ┆ null      │
│ 7           ┆ 8           ┆          ┆     ┆   ┆            ┆           ┆            ┆           │
│ 84729392521 ┆ 84729392521 ┆ 2        ┆ 30  ┆ … ┆ 1150000000 ┆ 1         ┆ 0          ┆ null      │
│             ┆             ┆          ┆     ┆   ┆ 0          ┆           ┆            ┆           │
│ 48089802629 ┆ 48089802629 ┆ 1        ┆ 33  ┆ … ┆ 4899300000 ┆ 2         ┆ 0          ┆ null      │
│ 6           ┆ 6           ┆          ┆     ┆   ┆ 0          ┆           ┆            ┆           │
│ 72903495587 ┆ 82438526364 ┆ 2        ┆ 54  ┆ … ┆ null       ┆ null      ┆ 0          ┆ null      │
│             ┆ 0           ┆          ┆     ┆   ┆            ┆           ┆            ┆           │
│ 59796090095 ┆ 49399537671 ┆ 2        ┆ 35  ┆ … ┆ null       ┆ null      ┆ 3671880    ┆ 147799911 │
│ 7           ┆ 7           ┆          ┆     ┆   ┆            ┆           ┆            ┆           │
└─────────────┴─────────────┴──────────┴─────┴───┴────────────┴───────────┴────────────┴───────────┘

In [ ]:
df.shape

(1697816, 48)

In [ ]:
df.schema

Schema([('id', Int64),
        ('Parent_Id', Int64),
        ('GenderId', Int64),
        ('Age', Int64),
        ('ISBimarKhas', Int64),
        ('IsMalool', Int64),
        ('Malool_shedat', Int64),
        ('Dashboard_postalcode7Digits', Int64),
        ('isurban', Int64),
        ('SabteAhval_provincename', String),
        ('SabteAhval_countyname', String),
        ('Has_SoeTaghzie', Int64),
        ('IsBehzisti_AfzayeshMostamari', Int64),
        ('IsKomite_AfzayeshMostamari', Int64),
        ('IsKomite_AfzayeshMostamariSayer', Int64),
        ('TripCountAirPilgrimage_95to99', Int64),
        ('TripCountAirNonPilgrimage_95to99', Int64),
        ('TripCountNonAirPilgrimage_95to99', Int64),
        ('TripCountNonAirNonPilgrimage_95to99', Int64),
        ('Has_Saham_Edalat', Int64),
        ('Decile', Int64),
        ('Percentile', Int64),
        ('HasMojavezSenfi', Int64),
        ('ISKarmanddolat_1402', Int64),
        ('IsRetired_Asli', Int64),
        ('IsRetired_Tabaie', String),
        ('is_bime_darman', Int64),
        ('IsBimePardaz', Int64),
        ('MandehAval_1399', Int64),
        ('MandehAkhar_1399', Int64),
        ('CardPerMonth_1399', Int64),
        ('Variz_1400', Int64),
        ('MandehAval_1400', Int64),
        ('MandehAkhar_1400', Int64),
        ('CardPerMonth_1400', Int64),
        ('CardPerMonth_1398', Int64),
        ('CardPerMonth_1401', Int64),
        ('CardPerMonth_1402', Int64),
        ('CardBeCardPerMonth_1401', Int64),
        ('CardBeCardPerMonth_1402', Int64),
        ('SatnaPerMonth_1401', Int64),
        ('SatnaPerMonth_1402', Int64),
        ('PayaPerMonth_1401', Int64),
        ('PayaPerMonth_1402', Int64),
        ('CarsPrice', Int64),
        ('CarsCount', Int64),
        ('Bourse_NetPortfoValue', Int64),
        ('Daramad', Int64)])

In [ ]:
df.describe()

shape: (9, 49)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ statistic ┆ id        ┆ Parent_Id ┆ GenderId  ┆ … ┆ CarsPrice ┆ CarsCount ┆ Bourse_Ne ┆ Daramad  │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ tPortfoVa ┆ ---      │
│ str       ┆ f64       ┆ f64       ┆ f64       ┆   ┆ f64       ┆ f64       ┆ lue       ┆ f64      │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ ---       ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ f64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ count     ┆ 1.697816e ┆ 1.697816e ┆ 1.697816e ┆ … ┆ 408075.0  ┆ 408075.0  ┆ 1.659997e ┆ 454881.0 │
│           ┆ 6         ┆ 6         ┆ 6         ┆   ┆           ┆           ┆ 6         ┆          │
│ null_coun ┆ 0.0       ┆ 0.0       ┆ 0.0       ┆ … ┆ 1.289741e ┆ 1.289741e ┆ 37819.0   ┆ 1.242935 │
│ t         ┆           ┆           ┆           ┆   ┆ 6         ┆ 6         ┆           ┆ e6       │
│ mean      ┆ 4.3613e11 ┆ 4.3321e11 ┆ 1.494946  ┆ … ┆ 4.3191e9  ┆ 1.23123   ┆ 9.3034e7  ┆ 9.6657e7 │
│ std       ┆ 2.5242e11 ┆ 2.5006e11 ┆ 0.499975  ┆ … ┆ 9.6293e9  ┆ 0.649734  ┆ 6.3236e9  ┆ 6.9753e7 │
│ min       ┆ 27438.0   ┆ 259936.0  ┆ 1.0       ┆ … ┆ 0.0       ┆ 1.0       ┆ 0.0       ┆ 0.0      │
│ 25%       ┆ 2.1789e11 ┆ 2.1672e11 ┆ 1.0       ┆ … ┆ 1.1712e9  ┆ 1.0       ┆ 0.0       ┆ 5.485226 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 8e7      │
│ 50%       ┆ 4.3558e11 ┆ 4.3310e11 ┆ 1.0       ┆ … ┆ 2.2505e9  ┆ 1.0       ┆ 0.0       ┆ 7.7128e7 │
│ 75%       ┆ 6.5385e11 ┆ 6.4981e11 ┆ 2.0       ┆ … ┆ 4.1741e9  ┆ 1.0       ┆ 0.0       ┆ 1.182858 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 07e8     │
│ max       ┆ 1.0000e12 ┆ 9.9952e11 ┆ 2.0       ┆ … ┆ 1.3990e12 ┆ 97.0      ┆ 3.8031e12 ┆ 1.1480e9 │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [ ]:
cols = ['id', 'Age', 'Daramad', 'SabteAhval_provincename']
df = (pl.scan_csv('gdrive/My Drive/Pandas/nemone_2_darsadi_1402.csv')
     .select(cols)
     .rename({'SabteAhval_provincename': 'Province', 'id': 'ID'})
     .lazy()
     .group_by('Province').agg([
            pl.count('ID').alias('Count NID'),
            pl.mean('Age').alias('mean_Age'),
            pl.mean('Daramad').alias('mean_Daramad'),
            pl.n_unique('Age').alias('Age_unique_count'),
            #pl.col('Daramad').agg_groups(lambda x: x.max() - x.min() / x.stdev()).alias('Daramad range')
            ])

     ).collect()

In [ ]:
df

shape: (32, 5)
┌───────────────────┬───────────┬───────────┬──────────────┬──────────────────┐
│ Province          ┆ Count NID ┆ mean_Age  ┆ mean_Daramad ┆ Age_unique_count │
│ ---               ┆ ---       ┆ ---       ┆ ---          ┆ ---              │
│ str               ┆ u32       ┆ f64       ┆ f64          ┆ u32              │
╞═══════════════════╪═══════════╪═══════════╪══════════════╪══════════════════╡
│ اردبیل            ┆ 26964     ┆ 34.654674 ┆ 8.3467e7     ┆ 99               │
│ اصفهان            ┆ 97193     ┆ 37.898761 ┆ 9.6898e7     ┆ 100              │
│ مرکزی             ┆ 28973     ┆ 36.316949 ┆ 9.8585e7     ┆ 100              │
│ هرمزگان           ┆ 34200     ┆ 32.210446 ┆ 1.1074e8     ┆ 99               │
│ همدان             ┆ 35728     ┆ 36.528498 ┆ 7.9311e7     ┆ 99               │
│ …                 ┆ …         ┆ …         ┆ …            ┆ …                │
│ زنجان             ┆ 21233     ┆ 35.621308 ┆ 9.1042e7     ┆ 100              │
│ آذربایجان شرقی    ┆ 78225     ┆ 36.31834  ┆ 8.5768e7     ┆ 99               │
│ کرمانشاه          ┆ 40429     ┆ 35.493382 ┆ 8.7561e7     ┆ 100              │
│ تهران             ┆ 229192    ┆ 38.760378 ┆ 1.1152e8     ┆ 100              │
│ چهارمحال وبختیاری ┆ 20336     ┆ 34.26768  ┆ 9.0345e7     ┆ 100              │
└───────────────────┴───────────┴───────────┴──────────────┴──────────────────┘

In [ ]:
# When-Then-Otherwise
cols = ['id', 'Age', 'Daramad', 'SabteAhval_provincename']
df_1 = (pl.scan_csv('gdrive/My Drive/Pandas/nemone_2_darsadi_1402.csv')
        .select(cols)
        .rename({'SabteAhval_provincename': 'Province', 'id': 'ID'})
        .lazy()
        .with_columns(
            pl.when(pl.col('Daramad') > 7.7128e8)
            .then(pl.lit('High'))
            .when(pl.col('Daramad') < 7.7128e7)
            .then(pl.lit('Low'))
            .otherwise(pl.lit('Medium'))
            .alias('Daramad_category')
        ).collect()
)

In [ ]:
df_1.head()

shape: (5, 5)
┌──────────────┬─────┬───────────┬────────────────┬──────────────────┐
│ ID           ┆ Age ┆ Daramad   ┆ Province       ┆ Daramad_category │
│ ---          ┆ --- ┆ ---       ┆ ---            ┆ ---              │
│ i64          ┆ i64 ┆ i64       ┆ str            ┆ str              │
╞══════════════╪═════╪═══════════╪════════════════╪══════════════════╡
│ 717641288407 ┆ 9   ┆ null      ┆ خراسان رضوی    ┆ Medium           │
│ 84729392521  ┆ 30  ┆ null      ┆ یزد            ┆ Medium           │
│ 480898026296 ┆ 33  ┆ null      ┆ گیلان           ┆ Medium           │
│ 72903495587  ┆ 54  ┆ null      ┆ فارس           ┆ Medium           │
│ 597960900957 ┆ 35  ┆ 147799911 ┆ آذربایجان غربی ┆ Medium           │
└──────────────┴─────┴───────────┴────────────────┴──────────────────┘

In [2]:
#pl.col("A").reverse().over("fruits").alias("rev_A_by_fruits"),
pl.sort_by("mean_Daramad").over("Province").alias("Mean_Daramad_Province")

NameError: name 'pl' is not defined

In [ ]:
# Multiple aggregations
df.groupby('A').agg([
    pl.sum('B').alias('B_sum'),
    pl.mean('C').alias('C_mean'),
    pl.n_unique('D').alias('D_unique_count')
])

# Custom aggregation
df.groupby('A').agg(pl.col('B').agg_groups(lambda x: x.sum() / x.count()))

In [ ]:
import plotly.express as px

<!--
![image](https://media.licdn.com/dms/image/v2/D5622AQHnHEw1wgmFvA/feedshare-shrink_800/B56ZYBYcVjH0Ao-/0/1743779908135?e=1746662400&v=beta&t=mow1Zn4HBFixnFbAWr9jyix_M0bbR3HDfJ92xe6ZGEQ)

Combining 2 dataframes into a single dataframe is a common operation in data analysis.

https://www.linkedin.com/posts/jorammutenge_100daysofpolars-data-activity-7313943048688652289-3Wi9
-->

In [ ]:
(df
    .head(10)
    .vstack(df.tail(10))
 )

In [ ]:
# https://github.com/pola-rs/polars-benchmark/blob/main/queries/polars/q1.py

from datetime import date

import polars as pl

from queries.polars import utils

Q_NUM = 1


def q() -> None:
    lineitem = utils.get_line_item_ds()

    var1 = date(1998, 9, 2)

    q_final = (
        lineitem.filter(pl.col("l_shipdate") <= var1)
        .group_by("l_returnflag", "l_linestatus")
        .agg(
            pl.sum("l_quantity").alias("sum_qty"),
            pl.sum("l_extendedprice").alias("sum_base_price"),
            (pl.col("l_extendedprice") * (1.0 - pl.col("l_discount")))
            .sum()
            .alias("sum_disc_price"),
            (
                pl.col("l_extendedprice")
                * (1.0 - pl.col("l_discount"))
                * (1.0 + pl.col("l_tax"))
            )
            .sum()
            .alias("sum_charge"),
            pl.mean("l_quantity").alias("avg_qty"),
            pl.mean("l_extendedprice").alias("avg_price"),
            pl.mean("l_discount").alias("avg_disc"),
            pl.len().alias("count_order"),
        )
        .sort("l_returnflag", "l_linestatus")
    )

    utils.run_query(Q_NUM, q_final)


if __name__ == "__main__":
    q()

In [ ]:
trips = pl.read_csv(
    "data/citibike/202403-citibike-tripdata.csv",
    try_parse_dates=True,
    schema_overrides={
        "start_station_id": pl.String,
        "end_station_id": pl.String,
    },
).sort(
    "started_at"
)

trips.height
2663295

In [ ]:
import polars as pl
from io import BytesIO
data = BytesIO(
    b"ID,Name,Birthday\n"
    b"1,Alice,1995-07-12\n"
    b"2,Bob,1990-09-20\n"
    b"3,Charlie,2002-03-08\n"
    b"4,Ali,1977-02-28\n"
    b"5,Majid,1980-07-12\n"
    b"6,Saeed,1981-09-20\n"
    b"7,Alireza,1981-03-08\n")

(
    pl.read_csv(data, try_parse_dates=True)
    .sort("Birthday", descending=True)
    #.pl
    .group_by(pl.col("Birthday").dt.year().alias("year"))
        .agg(
            pl.count("Name").alias("qty")
        )
        .with_columns(pl.col("year").alias("Decade"))
        .sort("qty", descending=True)

)

shape: (6, 3)
┌──────┬─────┬────────┐
│ year ┆ qty ┆ Decade │
│ ---  ┆ --- ┆ ---    │
│ i32  ┆ u32 ┆ i32    │
╞══════╪═════╪════════╡
│ 1981 ┆ 2   ┆ 1981   │
│ 1977 ┆ 1   ┆ 1977   │
│ 2002 ┆ 1   ┆ 2002   │
│ 1990 ┆ 1   ┆ 1990   │
│ 1980 ┆ 1   ┆ 1980   │
│ 1995 ┆ 1   ┆ 1995   │
└──────┴─────┴────────┘

### polars `methods` on series

https://docs.pola.rs/api/python/dev/reference/series/index.html



<table class="autosummary longtable table autosummary">
<tbody>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.abs.html#polars.Series.abs" title="polars.Series.abs"><code class="xref py py-obj docutils literal notranslate"><span class="pre">abs</span></code></a></p></td>
<td><p>Compute absolute values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.alias.html#polars.Series.alias" title="polars.Series.alias"><code class="xref py py-obj docutils literal notranslate"><span class="pre">alias</span></code></a></p></td>
<td><p>Rename the series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.all.html#polars.Series.all" title="polars.Series.all"><code class="xref py py-obj docutils literal notranslate"><span class="pre">all</span></code></a></p></td>
<td><p>Return whether all values in the column are <code class="code docutils literal notranslate"><span class="pre">True</span></code>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.any.html#polars.Series.any" title="polars.Series.any"><code class="xref py py-obj docutils literal notranslate"><span class="pre">any</span></code></a></p></td>
<td><p>Return whether any of the values in the column are <code class="code docutils literal notranslate"><span class="pre">True</span></code>.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.append.html#polars.Series.append" title="polars.Series.append"><code class="xref py py-obj docutils literal notranslate"><span class="pre">append</span></code></a></p></td>
<td><p>Append a Series to this one.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.approx_n_unique.html#polars.Series.approx_n_unique" title="polars.Series.approx_n_unique"><code class="xref py py-obj docutils literal notranslate"><span class="pre">approx_n_unique</span></code></a></p></td>
<td><p>Approximate count of unique values.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.arccos.html#polars.Series.arccos" title="polars.Series.arccos"><code class="xref py py-obj docutils literal notranslate"><span class="pre">arccos</span></code></a></p></td>
<td><p>Compute the element-wise value for the inverse cosine.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.arccosh.html#polars.Series.arccosh" title="polars.Series.arccosh"><code class="xref py py-obj docutils literal notranslate"><span class="pre">arccosh</span></code></a></p></td>
<td><p>Compute the element-wise value for the inverse hyperbolic cosine.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.arcsin.html#polars.Series.arcsin" title="polars.Series.arcsin"><code class="xref py py-obj docutils literal notranslate"><span class="pre">arcsin</span></code></a></p></td>
<td><p>Compute the element-wise value for the inverse sine.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.arcsinh.html#polars.Series.arcsinh" title="polars.Series.arcsinh"><code class="xref py py-obj docutils literal notranslate"><span class="pre">arcsinh</span></code></a></p></td>
<td><p>Compute the element-wise value for the inverse hyperbolic sine.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.arctan.html#polars.Series.arctan" title="polars.Series.arctan"><code class="xref py py-obj docutils literal notranslate"><span class="pre">arctan</span></code></a></p></td>
<td><p>Compute the element-wise value for the inverse tangent.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.arctanh.html#polars.Series.arctanh" title="polars.Series.arctanh"><code class="xref py py-obj docutils literal notranslate"><span class="pre">arctanh</span></code></a></p></td>
<td><p>Compute the element-wise value for the inverse hyperbolic tangent.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.arg_max.html#polars.Series.arg_max" title="polars.Series.arg_max"><code class="xref py py-obj docutils literal notranslate"><span class="pre">arg_max</span></code></a></p></td>
<td><p>Get the index of the maximal value.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.arg_min.html#polars.Series.arg_min" title="polars.Series.arg_min"><code class="xref py py-obj docutils literal notranslate"><span class="pre">arg_min</span></code></a></p></td>
<td><p>Get the index of the minimal value.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.arg_sort.html#polars.Series.arg_sort" title="polars.Series.arg_sort"><code class="xref py py-obj docutils literal notranslate"><span class="pre">arg_sort</span></code></a></p></td>
<td><p>Get the index values that would sort this Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.arg_true.html#polars.Series.arg_true" title="polars.Series.arg_true"><code class="xref py py-obj docutils literal notranslate"><span class="pre">arg_true</span></code></a></p></td>
<td><p>Get index values where Boolean Series evaluate True.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.arg_unique.html#polars.Series.arg_unique" title="polars.Series.arg_unique"><code class="xref py py-obj docutils literal notranslate"><span class="pre">arg_unique</span></code></a></p></td>
<td><p>Get unique index as Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.bitwise_and.html#polars.Series.bitwise_and" title="polars.Series.bitwise_and"><code class="xref py py-obj docutils literal notranslate"><span class="pre">bitwise_and</span></code></a></p></td>
<td><p>Perform an aggregation of bitwise ANDs.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.bitwise_count_ones.html#polars.Series.bitwise_count_ones" title="polars.Series.bitwise_count_ones"><code class="xref py py-obj docutils literal notranslate"><span class="pre">bitwise_count_ones</span></code></a></p></td>
<td><p>Evaluate the number of set bits.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.bitwise_count_zeros.html#polars.Series.bitwise_count_zeros" title="polars.Series.bitwise_count_zeros"><code class="xref py py-obj docutils literal notranslate"><span class="pre">bitwise_count_zeros</span></code></a></p></td>
<td><p>Evaluate the number of unset Self.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.bitwise_leading_ones.html#polars.Series.bitwise_leading_ones" title="polars.Series.bitwise_leading_ones"><code class="xref py py-obj docutils literal notranslate"><span class="pre">bitwise_leading_ones</span></code></a></p></td>
<td><p>Evaluate the number most-significant set bits before seeing an unset bit.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.bitwise_leading_zeros.html#polars.Series.bitwise_leading_zeros" title="polars.Series.bitwise_leading_zeros"><code class="xref py py-obj docutils literal notranslate"><span class="pre">bitwise_leading_zeros</span></code></a></p></td>
<td><p>Evaluate the number most-significant unset bits before seeing a set bit.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.bitwise_or.html#polars.Series.bitwise_or" title="polars.Series.bitwise_or"><code class="xref py py-obj docutils literal notranslate"><span class="pre">bitwise_or</span></code></a></p></td>
<td><p>Perform an aggregation of bitwise ORs.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.bitwise_trailing_ones.html#polars.Series.bitwise_trailing_ones" title="polars.Series.bitwise_trailing_ones"><code class="xref py py-obj docutils literal notranslate"><span class="pre">bitwise_trailing_ones</span></code></a></p></td>
<td><p>Evaluate the number least-significant set bits before seeing an unset bit.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.bitwise_trailing_zeros.html#polars.Series.bitwise_trailing_zeros" title="polars.Series.bitwise_trailing_zeros"><code class="xref py py-obj docutils literal notranslate"><span class="pre">bitwise_trailing_zeros</span></code></a></p></td>
<td><p>Evaluate the number least-significant unset bits before seeing a set bit.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.bitwise_xor.html#polars.Series.bitwise_xor" title="polars.Series.bitwise_xor"><code class="xref py py-obj docutils literal notranslate"><span class="pre">bitwise_xor</span></code></a></p></td>
<td><p>Perform an aggregation of bitwise XORs.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.bottom_k.html#polars.Series.bottom_k" title="polars.Series.bottom_k"><code class="xref py py-obj docutils literal notranslate"><span class="pre">bottom_k</span></code></a></p></td>
<td><p>Return the <code class="code docutils literal notranslate"><span class="pre">k</span></code> smallest elements.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.cast.html#polars.Series.cast" title="polars.Series.cast"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cast</span></code></a></p></td>
<td><p>Cast between data types.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.cbrt.html#polars.Series.cbrt" title="polars.Series.cbrt"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cbrt</span></code></a></p></td>
<td><p>Compute the cube root of the elements.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.ceil.html#polars.Series.ceil" title="polars.Series.ceil"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ceil</span></code></a></p></td>
<td><p>Rounds up to the nearest integer value.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.chunk_lengths.html#polars.Series.chunk_lengths" title="polars.Series.chunk_lengths"><code class="xref py py-obj docutils literal notranslate"><span class="pre">chunk_lengths</span></code></a></p></td>
<td><p>Get the length of each individual chunk.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.clear.html#polars.Series.clear" title="polars.Series.clear"><code class="xref py py-obj docutils literal notranslate"><span class="pre">clear</span></code></a></p></td>
<td><p>Create an empty copy of the current Series, with zero to 'n' elements.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.clip.html#polars.Series.clip" title="polars.Series.clip"><code class="xref py py-obj docutils literal notranslate"><span class="pre">clip</span></code></a></p></td>
<td><p>Set values outside the given boundaries to the boundary value.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.clone.html#polars.Series.clone" title="polars.Series.clone"><code class="xref py py-obj docutils literal notranslate"><span class="pre">clone</span></code></a></p></td>
<td><p>Create a copy of this Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.cos.html#polars.Series.cos" title="polars.Series.cos"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cos</span></code></a></p></td>
<td><p>Compute the element-wise value for the cosine.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.cosh.html#polars.Series.cosh" title="polars.Series.cosh"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cosh</span></code></a></p></td>
<td><p>Compute the element-wise value for the hyperbolic cosine.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.cot.html#polars.Series.cot" title="polars.Series.cot"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cot</span></code></a></p></td>
<td><p>Compute the element-wise value for the cotangent.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.count.html#polars.Series.count" title="polars.Series.count"><code class="xref py py-obj docutils literal notranslate"><span class="pre">count</span></code></a></p></td>
<td><p>Return the number of non-null elements in the column.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.cum_count.html#polars.Series.cum_count" title="polars.Series.cum_count"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cum_count</span></code></a></p></td>
<td><p>Return the cumulative count of the non-null values in the column.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.cum_max.html#polars.Series.cum_max" title="polars.Series.cum_max"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cum_max</span></code></a></p></td>
<td><p>Get an array with the cumulative max computed at every element.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.cum_min.html#polars.Series.cum_min" title="polars.Series.cum_min"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cum_min</span></code></a></p></td>
<td><p>Get an array with the cumulative min computed at every element.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.cum_prod.html#polars.Series.cum_prod" title="polars.Series.cum_prod"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cum_prod</span></code></a></p></td>
<td><p>Get an array with the cumulative product computed at every element.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.cum_sum.html#polars.Series.cum_sum" title="polars.Series.cum_sum"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cum_sum</span></code></a></p></td>
<td><p>Get an array with the cumulative sum computed at every element.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.cumulative_eval.html#polars.Series.cumulative_eval" title="polars.Series.cumulative_eval"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cumulative_eval</span></code></a></p></td>
<td><p>Run an expression over a sliding window that increases <code class="code docutils literal notranslate"><span class="pre">1</span></code> slot every iteration.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.cut.html#polars.Series.cut" title="polars.Series.cut"><code class="xref py py-obj docutils literal notranslate"><span class="pre">cut</span></code></a></p></td>
<td><p>Bin continuous values into discrete categories.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.describe.html#polars.Series.describe" title="polars.Series.describe"><code class="xref py py-obj docutils literal notranslate"><span class="pre">describe</span></code></a></p></td>
<td><p>Quick summary statistics of a Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.diff.html#polars.Series.diff" title="polars.Series.diff"><code class="xref py py-obj docutils literal notranslate"><span class="pre">diff</span></code></a></p></td>
<td><p>Calculate the first discrete difference between shifted items.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dot.html#polars.Series.dot" title="polars.Series.dot"><code class="xref py py-obj docutils literal notranslate"><span class="pre">dot</span></code></a></p></td>
<td><p>Compute the dot/inner product between two Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.drop_nans.html#polars.Series.drop_nans" title="polars.Series.drop_nans"><code class="xref py py-obj docutils literal notranslate"><span class="pre">drop_nans</span></code></a></p></td>
<td><p>Drop all floating point NaN values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.drop_nulls.html#polars.Series.drop_nulls" title="polars.Series.drop_nulls"><code class="xref py py-obj docutils literal notranslate"><span class="pre">drop_nulls</span></code></a></p></td>
<td><p>Drop all null values.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.entropy.html#polars.Series.entropy" title="polars.Series.entropy"><code class="xref py py-obj docutils literal notranslate"><span class="pre">entropy</span></code></a></p></td>
<td><p>Computes the entropy.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.eq.html#polars.Series.eq" title="polars.Series.eq"><code class="xref py py-obj docutils literal notranslate"><span class="pre">eq</span></code></a></p></td>
<td><p>Method equivalent of operator expression <code class="code docutils literal notranslate"><span class="pre">series</span> <span class="pre">==</span> <span class="pre">other</span></code>.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.eq_missing.html#polars.Series.eq_missing" title="polars.Series.eq_missing"><code class="xref py py-obj docutils literal notranslate"><span class="pre">eq_missing</span></code></a></p></td>
<td><p>Method equivalent of equality operator <code class="code docutils literal notranslate"><span class="pre">series</span> <span class="pre">==</span> <span class="pre">other</span></code> where <code class="code docutils literal notranslate"><span class="pre">None</span> <span class="pre">==</span> <span class="pre">None</span></code>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.equals.html#polars.Series.equals" title="polars.Series.equals"><code class="xref py py-obj docutils literal notranslate"><span class="pre">equals</span></code></a></p></td>
<td><p>Check whether the Series is equal to another Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.estimated_size.html#polars.Series.estimated_size" title="polars.Series.estimated_size"><code class="xref py py-obj docutils literal notranslate"><span class="pre">estimated_size</span></code></a></p></td>
<td><p>Return an estimation of the total (heap) allocated size of the Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.ewm_mean.html#polars.Series.ewm_mean" title="polars.Series.ewm_mean"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ewm_mean</span></code></a></p></td>
<td><p>Compute exponentially-weighted moving average.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.ewm_mean_by.html#polars.Series.ewm_mean_by" title="polars.Series.ewm_mean_by"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ewm_mean_by</span></code></a></p></td>
<td><p>Compute time-based exponentially weighted moving average.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.ewm_std.html#polars.Series.ewm_std" title="polars.Series.ewm_std"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ewm_std</span></code></a></p></td>
<td><p>Compute exponentially-weighted moving standard deviation.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.ewm_var.html#polars.Series.ewm_var" title="polars.Series.ewm_var"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ewm_var</span></code></a></p></td>
<td><p>Compute exponentially-weighted moving variance.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.exp.html#polars.Series.exp" title="polars.Series.exp"><code class="xref py py-obj docutils literal notranslate"><span class="pre">exp</span></code></a></p></td>
<td><p>Compute the exponential, element-wise.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.explode.html#polars.Series.explode" title="polars.Series.explode"><code class="xref py py-obj docutils literal notranslate"><span class="pre">explode</span></code></a></p></td>
<td><p>Explode a list Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.extend.html#polars.Series.extend" title="polars.Series.extend"><code class="xref py py-obj docutils literal notranslate"><span class="pre">extend</span></code></a></p></td>
<td><p>Extend the memory backed by this Series with the values from another.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.extend_constant.html#polars.Series.extend_constant" title="polars.Series.extend_constant"><code class="xref py py-obj docutils literal notranslate"><span class="pre">extend_constant</span></code></a></p></td>
<td><p>Extremely fast method for extending the Series with 'n' copies of a value.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.fill_nan.html#polars.Series.fill_nan" title="polars.Series.fill_nan"><code class="xref py py-obj docutils literal notranslate"><span class="pre">fill_nan</span></code></a></p></td>
<td><p>Fill floating point NaN value with a fill value.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.fill_null.html#polars.Series.fill_null" title="polars.Series.fill_null"><code class="xref py py-obj docutils literal notranslate"><span class="pre">fill_null</span></code></a></p></td>
<td><p>Fill null values using the specified value or strategy.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.filter.html#polars.Series.filter" title="polars.Series.filter"><code class="xref py py-obj docutils literal notranslate"><span class="pre">filter</span></code></a></p></td>
<td><p>Filter elements by a boolean mask.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.first.html#polars.Series.first" title="polars.Series.first"><code class="xref py py-obj docutils literal notranslate"><span class="pre">first</span></code></a></p></td>
<td><p>Get the first element of the Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.floor.html#polars.Series.floor" title="polars.Series.floor"><code class="xref py py-obj docutils literal notranslate"><span class="pre">floor</span></code></a></p></td>
<td><p>Rounds down to the nearest integer value.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.gather.html#polars.Series.gather" title="polars.Series.gather"><code class="xref py py-obj docutils literal notranslate"><span class="pre">gather</span></code></a></p></td>
<td><p>Take values by index.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.gather_every.html#polars.Series.gather_every" title="polars.Series.gather_every"><code class="xref py py-obj docutils literal notranslate"><span class="pre">gather_every</span></code></a></p></td>
<td><p>Take every nth value in the Series and return as new Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.ge.html#polars.Series.ge" title="polars.Series.ge"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ge</span></code></a></p></td>
<td><p>Method equivalent of operator expression <code class="code docutils literal notranslate"><span class="pre">series</span> <span class="pre">&gt;=</span> <span class="pre">other</span></code>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.get_chunks.html#polars.Series.get_chunks" title="polars.Series.get_chunks"><code class="xref py py-obj docutils literal notranslate"><span class="pre">get_chunks</span></code></a></p></td>
<td><p>Get the chunks of this Series as a list of Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.gt.html#polars.Series.gt" title="polars.Series.gt"><code class="xref py py-obj docutils literal notranslate"><span class="pre">gt</span></code></a></p></td>
<td><p>Method equivalent of operator expression <code class="code docutils literal notranslate"><span class="pre">series</span> <span class="pre">&gt;</span> <span class="pre">other</span></code>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.has_nulls.html#polars.Series.has_nulls" title="polars.Series.has_nulls"><code class="xref py py-obj docutils literal notranslate"><span class="pre">has_nulls</span></code></a></p></td>
<td><p>Check whether the Series contains one or more null values.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.has_validity.html#polars.Series.has_validity" title="polars.Series.has_validity"><code class="xref py py-obj docutils literal notranslate"><span class="pre">has_validity</span></code></a></p></td>
<td><p>Check whether the Series contains one or more null values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.hash.html#polars.Series.hash" title="polars.Series.hash"><code class="xref py py-obj docutils literal notranslate"><span class="pre">hash</span></code></a></p></td>
<td><p>Hash the Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.head.html#polars.Series.head" title="polars.Series.head"><code class="xref py py-obj docutils literal notranslate"><span class="pre">head</span></code></a></p></td>
<td><p>Get the first <code class="code docutils literal notranslate"><span class="pre">n</span></code> elements.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.hist.html#polars.Series.hist" title="polars.Series.hist"><code class="xref py py-obj docutils literal notranslate"><span class="pre">hist</span></code></a></p></td>
<td><p>Bin values into buckets and count their occurrences.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.implode.html#polars.Series.implode" title="polars.Series.implode"><code class="xref py py-obj docutils literal notranslate"><span class="pre">implode</span></code></a></p></td>
<td><p>Aggregate values into a list.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.index_of.html#polars.Series.index_of" title="polars.Series.index_of"><code class="xref py py-obj docutils literal notranslate"><span class="pre">index_of</span></code></a></p></td>
<td><p>Get the index of the first occurrence of a value, or <code class="docutils literal notranslate"><span class="pre">None</span></code> if it's not found.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.interpolate.html#polars.Series.interpolate" title="polars.Series.interpolate"><code class="xref py py-obj docutils literal notranslate"><span class="pre">interpolate</span></code></a></p></td>
<td><p>Fill null values using interpolation.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.interpolate_by.html#polars.Series.interpolate_by" title="polars.Series.interpolate_by"><code class="xref py py-obj docutils literal notranslate"><span class="pre">interpolate_by</span></code></a></p></td>
<td><p>Fill null values using interpolation based on another column.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.is_between.html#polars.Series.is_between" title="polars.Series.is_between"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_between</span></code></a></p></td>
<td><p>Get a boolean mask of the values that are between the given lower/upper bounds.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.is_duplicated.html#polars.Series.is_duplicated" title="polars.Series.is_duplicated"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_duplicated</span></code></a></p></td>
<td><p>Get mask of all duplicated values.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.is_empty.html#polars.Series.is_empty" title="polars.Series.is_empty"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_empty</span></code></a></p></td>
<td><p>Check if the Series is empty.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.is_finite.html#polars.Series.is_finite" title="polars.Series.is_finite"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_finite</span></code></a></p></td>
<td><p>Returns a boolean Series indicating which values are finite.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.is_first_distinct.html#polars.Series.is_first_distinct" title="polars.Series.is_first_distinct"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_first_distinct</span></code></a></p></td>
<td><p>Return a boolean mask indicating the first occurrence of each distinct value.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.is_in.html#polars.Series.is_in" title="polars.Series.is_in"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_in</span></code></a></p></td>
<td><p>Check if elements of this Series are in the other Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.is_infinite.html#polars.Series.is_infinite" title="polars.Series.is_infinite"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_infinite</span></code></a></p></td>
<td><p>Returns a boolean Series indicating which values are infinite.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.is_last_distinct.html#polars.Series.is_last_distinct" title="polars.Series.is_last_distinct"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_last_distinct</span></code></a></p></td>
<td><p>Return a boolean mask indicating the last occurrence of each distinct value.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.is_nan.html#polars.Series.is_nan" title="polars.Series.is_nan"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_nan</span></code></a></p></td>
<td><p>Returns a boolean Series indicating which values are NaN.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.is_not_nan.html#polars.Series.is_not_nan" title="polars.Series.is_not_nan"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_not_nan</span></code></a></p></td>
<td><p>Returns a boolean Series indicating which values are not NaN.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.is_not_null.html#polars.Series.is_not_null" title="polars.Series.is_not_null"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_not_null</span></code></a></p></td>
<td><p>Returns a boolean Series indicating which values are not null.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.is_null.html#polars.Series.is_null" title="polars.Series.is_null"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_null</span></code></a></p></td>
<td><p>Returns a boolean Series indicating which values are null.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.is_sorted.html#polars.Series.is_sorted" title="polars.Series.is_sorted"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_sorted</span></code></a></p></td>
<td><p>Check if the Series is sorted.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.is_unique.html#polars.Series.is_unique" title="polars.Series.is_unique"><code class="xref py py-obj docutils literal notranslate"><span class="pre">is_unique</span></code></a></p></td>
<td><p>Get mask of all unique values.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.item.html#polars.Series.item" title="polars.Series.item"><code class="xref py py-obj docutils literal notranslate"><span class="pre">item</span></code></a></p></td>
<td><p>Return the Series as a scalar, or return the element at the given index.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.kurtosis.html#polars.Series.kurtosis" title="polars.Series.kurtosis"><code class="xref py py-obj docutils literal notranslate"><span class="pre">kurtosis</span></code></a></p></td>
<td><p>Compute the kurtosis (Fisher or Pearson) of a dataset.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.last.html#polars.Series.last" title="polars.Series.last"><code class="xref py py-obj docutils literal notranslate"><span class="pre">last</span></code></a></p></td>
<td><p>Get the last element of the Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.le.html#polars.Series.le" title="polars.Series.le"><code class="xref py py-obj docutils literal notranslate"><span class="pre">le</span></code></a></p></td>
<td><p>Method equivalent of operator expression <code class="code docutils literal notranslate"><span class="pre">series</span> <span class="pre">&lt;=</span> <span class="pre">other</span></code>.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.len.html#polars.Series.len" title="polars.Series.len"><code class="xref py py-obj docutils literal notranslate"><span class="pre">len</span></code></a></p></td>
<td><p>Return the number of elements in the Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.limit.html#polars.Series.limit" title="polars.Series.limit"><code class="xref py py-obj docutils literal notranslate"><span class="pre">limit</span></code></a></p></td>
<td><p>Get the first <code class="code docutils literal notranslate"><span class="pre">n</span></code> elements.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.log.html#polars.Series.log" title="polars.Series.log"><code class="xref py py-obj docutils literal notranslate"><span class="pre">log</span></code></a></p></td>
<td><p>Compute the logarithm to a given base.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.log10.html#polars.Series.log10" title="polars.Series.log10"><code class="xref py py-obj docutils literal notranslate"><span class="pre">log10</span></code></a></p></td>
<td><p>Compute the base 10 logarithm of the input array, element-wise.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.log1p.html#polars.Series.log1p" title="polars.Series.log1p"><code class="xref py py-obj docutils literal notranslate"><span class="pre">log1p</span></code></a></p></td>
<td><p>Compute the natural logarithm of the input array plus one, element-wise.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.lower_bound.html#polars.Series.lower_bound" title="polars.Series.lower_bound"><code class="xref py py-obj docutils literal notranslate"><span class="pre">lower_bound</span></code></a></p></td>
<td><p>Return the lower bound of this Series' dtype as a unit Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.lt.html#polars.Series.lt" title="polars.Series.lt"><code class="xref py py-obj docutils literal notranslate"><span class="pre">lt</span></code></a></p></td>
<td><p>Method equivalent of operator expression <code class="code docutils literal notranslate"><span class="pre">series</span> <span class="pre">&lt;</span> <span class="pre">other</span></code>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.map_elements.html#polars.Series.map_elements" title="polars.Series.map_elements"><code class="xref py py-obj docutils literal notranslate"><span class="pre">map_elements</span></code></a></p></td>
<td><p>Map a custom/user-defined function (UDF) over elements in this Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.max.html#polars.Series.max" title="polars.Series.max"><code class="xref py py-obj docutils literal notranslate"><span class="pre">max</span></code></a></p></td>
<td><p>Get the maximum value in this Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.mean.html#polars.Series.mean" title="polars.Series.mean"><code class="xref py py-obj docutils literal notranslate"><span class="pre">mean</span></code></a></p></td>
<td><p>Reduce this Series to the mean value.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.median.html#polars.Series.median" title="polars.Series.median"><code class="xref py py-obj docutils literal notranslate"><span class="pre">median</span></code></a></p></td>
<td><p>Get the median of this Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.min.html#polars.Series.min" title="polars.Series.min"><code class="xref py py-obj docutils literal notranslate"><span class="pre">min</span></code></a></p></td>
<td><p>Get the minimal value in this Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.mode.html#polars.Series.mode" title="polars.Series.mode"><code class="xref py py-obj docutils literal notranslate"><span class="pre">mode</span></code></a></p></td>
<td><p>Compute the most occurring value(s).</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.n_chunks.html#polars.Series.n_chunks" title="polars.Series.n_chunks"><code class="xref py py-obj docutils literal notranslate"><span class="pre">n_chunks</span></code></a></p></td>
<td><p>Get the number of chunks that this Series contains.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.n_unique.html#polars.Series.n_unique" title="polars.Series.n_unique"><code class="xref py py-obj docutils literal notranslate"><span class="pre">n_unique</span></code></a></p></td>
<td><p>Count the number of unique values in this Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.nan_max.html#polars.Series.nan_max" title="polars.Series.nan_max"><code class="xref py py-obj docutils literal notranslate"><span class="pre">nan_max</span></code></a></p></td>
<td><p>Get maximum value, but propagate/poison encountered NaN values.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.nan_min.html#polars.Series.nan_min" title="polars.Series.nan_min"><code class="xref py py-obj docutils literal notranslate"><span class="pre">nan_min</span></code></a></p></td>
<td><p>Get minimum value, but propagate/poison encountered NaN values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.ne.html#polars.Series.ne" title="polars.Series.ne"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ne</span></code></a></p></td>
<td><p>Method equivalent of operator expression <code class="code docutils literal notranslate"><span class="pre">series</span> <span class="pre">!=</span> <span class="pre">other</span></code>.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.ne_missing.html#polars.Series.ne_missing" title="polars.Series.ne_missing"><code class="xref py py-obj docutils literal notranslate"><span class="pre">ne_missing</span></code></a></p></td>
<td><p>Method equivalent of equality operator <code class="code docutils literal notranslate"><span class="pre">series</span> <span class="pre">!=</span> <span class="pre">other</span></code> where <code class="code docutils literal notranslate"><span class="pre">None</span> <span class="pre">==</span> <span class="pre">None</span></code>.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.new_from_index.html#polars.Series.new_from_index" title="polars.Series.new_from_index"><code class="xref py py-obj docutils literal notranslate"><span class="pre">new_from_index</span></code></a></p></td>
<td><p>Create a new Series filled with values from the given index.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.not_.html#polars.Series.not_" title="polars.Series.not_"><code class="xref py py-obj docutils literal notranslate"><span class="pre">not_</span></code></a></p></td>
<td><p>Negate a boolean Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.null_count.html#polars.Series.null_count" title="polars.Series.null_count"><code class="xref py py-obj docutils literal notranslate"><span class="pre">null_count</span></code></a></p></td>
<td><p>Count the null values in this Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.pct_change.html#polars.Series.pct_change" title="polars.Series.pct_change"><code class="xref py py-obj docutils literal notranslate"><span class="pre">pct_change</span></code></a></p></td>
<td><p>Computes percentage change between values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.peak_max.html#polars.Series.peak_max" title="polars.Series.peak_max"><code class="xref py py-obj docutils literal notranslate"><span class="pre">peak_max</span></code></a></p></td>
<td><p>Get a boolean mask of the local maximum peaks.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.peak_min.html#polars.Series.peak_min" title="polars.Series.peak_min"><code class="xref py py-obj docutils literal notranslate"><span class="pre">peak_min</span></code></a></p></td>
<td><p>Get a boolean mask of the local minimum peaks.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.pow.html#polars.Series.pow" title="polars.Series.pow"><code class="xref py py-obj docutils literal notranslate"><span class="pre">pow</span></code></a></p></td>
<td><p>Raise to the power of the given exponent.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.product.html#polars.Series.product" title="polars.Series.product"><code class="xref py py-obj docutils literal notranslate"><span class="pre">product</span></code></a></p></td>
<td><p>Reduce this Series to the product value.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.qcut.html#polars.Series.qcut" title="polars.Series.qcut"><code class="xref py py-obj docutils literal notranslate"><span class="pre">qcut</span></code></a></p></td>
<td><p>Bin continuous values into discrete categories based on their quantiles.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.quantile.html#polars.Series.quantile" title="polars.Series.quantile"><code class="xref py py-obj docutils literal notranslate"><span class="pre">quantile</span></code></a></p></td>
<td><p>Get the quantile value of this Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.rank.html#polars.Series.rank" title="polars.Series.rank"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rank</span></code></a></p></td>
<td><p>Assign ranks to data, dealing with ties appropriately.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.rechunk.html#polars.Series.rechunk" title="polars.Series.rechunk"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rechunk</span></code></a></p></td>
<td><p>Create a single chunk of memory for this Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.reinterpret.html#polars.Series.reinterpret" title="polars.Series.reinterpret"><code class="xref py py-obj docutils literal notranslate"><span class="pre">reinterpret</span></code></a></p></td>
<td><p>Reinterpret the underlying bits as a signed/unsigned integer.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.rename.html#polars.Series.rename" title="polars.Series.rename"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rename</span></code></a></p></td>
<td><p>Rename this Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.replace.html#polars.Series.replace" title="polars.Series.replace"><code class="xref py py-obj docutils literal notranslate"><span class="pre">replace</span></code></a></p></td>
<td><p>Replace values by different values of the same data type.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.replace_strict.html#polars.Series.replace_strict" title="polars.Series.replace_strict"><code class="xref py py-obj docutils literal notranslate"><span class="pre">replace_strict</span></code></a></p></td>
<td><p>Replace all values by different values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.reshape.html#polars.Series.reshape" title="polars.Series.reshape"><code class="xref py py-obj docutils literal notranslate"><span class="pre">reshape</span></code></a></p></td>
<td><p>Reshape this Series to a flat Series or an Array Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.reverse.html#polars.Series.reverse" title="polars.Series.reverse"><code class="xref py py-obj docutils literal notranslate"><span class="pre">reverse</span></code></a></p></td>
<td><p>Return Series in reverse order.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.rle.html#polars.Series.rle" title="polars.Series.rle"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rle</span></code></a></p></td>
<td><p>Compress the Series data using run-length encoding.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.rle_id.html#polars.Series.rle_id" title="polars.Series.rle_id"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rle_id</span></code></a></p></td>
<td><p>Get a distinct integer ID for each run of identical values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.rolling_map.html#polars.Series.rolling_map" title="polars.Series.rolling_map"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rolling_map</span></code></a></p></td>
<td><p>Compute a custom rolling window function.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.rolling_max.html#polars.Series.rolling_max" title="polars.Series.rolling_max"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rolling_max</span></code></a></p></td>
<td><p>Apply a rolling max (moving max) over the values in this array.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.rolling_mean.html#polars.Series.rolling_mean" title="polars.Series.rolling_mean"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rolling_mean</span></code></a></p></td>
<td><p>Apply a rolling mean (moving mean) over the values in this array.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.rolling_median.html#polars.Series.rolling_median" title="polars.Series.rolling_median"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rolling_median</span></code></a></p></td>
<td><p>Compute a rolling median.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.rolling_min.html#polars.Series.rolling_min" title="polars.Series.rolling_min"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rolling_min</span></code></a></p></td>
<td><p>Apply a rolling min (moving min) over the values in this array.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.rolling_quantile.html#polars.Series.rolling_quantile" title="polars.Series.rolling_quantile"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rolling_quantile</span></code></a></p></td>
<td><p>Compute a rolling quantile.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.rolling_skew.html#polars.Series.rolling_skew" title="polars.Series.rolling_skew"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rolling_skew</span></code></a></p></td>
<td><p>Compute a rolling skew.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.rolling_std.html#polars.Series.rolling_std" title="polars.Series.rolling_std"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rolling_std</span></code></a></p></td>
<td><p>Compute a rolling std dev.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.rolling_sum.html#polars.Series.rolling_sum" title="polars.Series.rolling_sum"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rolling_sum</span></code></a></p></td>
<td><p>Apply a rolling sum (moving sum) over the values in this array.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.rolling_var.html#polars.Series.rolling_var" title="polars.Series.rolling_var"><code class="xref py py-obj docutils literal notranslate"><span class="pre">rolling_var</span></code></a></p></td>
<td><p>Compute a rolling variance.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.round.html#polars.Series.round" title="polars.Series.round"><code class="xref py py-obj docutils literal notranslate"><span class="pre">round</span></code></a></p></td>
<td><p>Round underlying floating point data by <code class="code docutils literal notranslate"><span class="pre">decimals</span></code> digits.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.round_sig_figs.html#polars.Series.round_sig_figs" title="polars.Series.round_sig_figs"><code class="xref py py-obj docutils literal notranslate"><span class="pre">round_sig_figs</span></code></a></p></td>
<td><p>Round to a number of significant figures.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.sample.html#polars.Series.sample" title="polars.Series.sample"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sample</span></code></a></p></td>
<td><p>Sample from this Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.scatter.html#polars.Series.scatter" title="polars.Series.scatter"><code class="xref py py-obj docutils literal notranslate"><span class="pre">scatter</span></code></a></p></td>
<td><p>Set values at the index locations.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.search_sorted.html#polars.Series.search_sorted" title="polars.Series.search_sorted"><code class="xref py py-obj docutils literal notranslate"><span class="pre">search_sorted</span></code></a></p></td>
<td><p>Find indices where elements should be inserted to maintain order.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.set.html#polars.Series.set" title="polars.Series.set"><code class="xref py py-obj docutils literal notranslate"><span class="pre">set</span></code></a></p></td>
<td><p>Set masked values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.set_sorted.html#polars.Series.set_sorted" title="polars.Series.set_sorted"><code class="xref py py-obj docutils literal notranslate"><span class="pre">set_sorted</span></code></a></p></td>
<td><p>Flags the Series as 'sorted'.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.shift.html#polars.Series.shift" title="polars.Series.shift"><code class="xref py py-obj docutils literal notranslate"><span class="pre">shift</span></code></a></p></td>
<td><p>Shift values by the given number of indices.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.shrink_dtype.html#polars.Series.shrink_dtype" title="polars.Series.shrink_dtype"><code class="xref py py-obj docutils literal notranslate"><span class="pre">shrink_dtype</span></code></a></p></td>
<td><p>Shrink numeric columns to the minimal required datatype.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.shrink_to_fit.html#polars.Series.shrink_to_fit" title="polars.Series.shrink_to_fit"><code class="xref py py-obj docutils literal notranslate"><span class="pre">shrink_to_fit</span></code></a></p></td>
<td><p>Shrink Series memory usage.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.shuffle.html#polars.Series.shuffle" title="polars.Series.shuffle"><code class="xref py py-obj docutils literal notranslate"><span class="pre">shuffle</span></code></a></p></td>
<td><p>Shuffle the contents of this Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.sign.html#polars.Series.sign" title="polars.Series.sign"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sign</span></code></a></p></td>
<td><p>Compute the element-wise sign function on numeric types.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.sin.html#polars.Series.sin" title="polars.Series.sin"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sin</span></code></a></p></td>
<td><p>Compute the element-wise value for the sine.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.sinh.html#polars.Series.sinh" title="polars.Series.sinh"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sinh</span></code></a></p></td>
<td><p>Compute the element-wise value for the hyperbolic sine.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.skew.html#polars.Series.skew" title="polars.Series.skew"><code class="xref py py-obj docutils literal notranslate"><span class="pre">skew</span></code></a></p></td>
<td><p>Compute the sample skewness of a data set.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.slice.html#polars.Series.slice" title="polars.Series.slice"><code class="xref py py-obj docutils literal notranslate"><span class="pre">slice</span></code></a></p></td>
<td><p>Get a slice of this Series.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.sort.html#polars.Series.sort" title="polars.Series.sort"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sort</span></code></a></p></td>
<td><p>Sort this Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.sqrt.html#polars.Series.sqrt" title="polars.Series.sqrt"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sqrt</span></code></a></p></td>
<td><p>Compute the square root of the elements.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.std.html#polars.Series.std" title="polars.Series.std"><code class="xref py py-obj docutils literal notranslate"><span class="pre">std</span></code></a></p></td>
<td><p>Get the standard deviation of this Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.sum.html#polars.Series.sum" title="polars.Series.sum"><code class="xref py py-obj docutils literal notranslate"><span class="pre">sum</span></code></a></p></td>
<td><p>Reduce this Series to the sum value.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.tail.html#polars.Series.tail" title="polars.Series.tail"><code class="xref py py-obj docutils literal notranslate"><span class="pre">tail</span></code></a></p></td>
<td><p>Get the last <code class="code docutils literal notranslate"><span class="pre">n</span></code> elements.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.tan.html#polars.Series.tan" title="polars.Series.tan"><code class="xref py py-obj docutils literal notranslate"><span class="pre">tan</span></code></a></p></td>
<td><p>Compute the element-wise value for the tangent.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.tanh.html#polars.Series.tanh" title="polars.Series.tanh"><code class="xref py py-obj docutils literal notranslate"><span class="pre">tanh</span></code></a></p></td>
<td><p>Compute the element-wise value for the hyperbolic tangent.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.to_arrow.html#polars.Series.to_arrow" title="polars.Series.to_arrow"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_arrow</span></code></a></p></td>
<td><p>Return the underlying Arrow array.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.to_dummies.html#polars.Series.to_dummies" title="polars.Series.to_dummies"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_dummies</span></code></a></p></td>
<td><p>Get dummy/indicator variables.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.to_frame.html#polars.Series.to_frame" title="polars.Series.to_frame"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_frame</span></code></a></p></td>
<td><p>Cast this Series to a DataFrame.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.to_init_repr.html#polars.Series.to_init_repr" title="polars.Series.to_init_repr"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_init_repr</span></code></a></p></td>
<td><p>Convert Series to instantiable string representation.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.to_jax.html#polars.Series.to_jax" title="polars.Series.to_jax"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_jax</span></code></a></p></td>
<td><p>Convert this Series to a Jax Array.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.to_list.html#polars.Series.to_list" title="polars.Series.to_list"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_list</span></code></a></p></td>
<td><p>Convert this Series to a Python list.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.to_numpy.html#polars.Series.to_numpy" title="polars.Series.to_numpy"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_numpy</span></code></a></p></td>
<td><p>Convert this Series to a NumPy ndarray.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.to_pandas.html#polars.Series.to_pandas" title="polars.Series.to_pandas"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_pandas</span></code></a></p></td>
<td><p>Convert this Series to a pandas Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.to_physical.html#polars.Series.to_physical" title="polars.Series.to_physical"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_physical</span></code></a></p></td>
<td><p>Cast to physical representation of the logical dtype.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.to_torch.html#polars.Series.to_torch" title="polars.Series.to_torch"><code class="xref py py-obj docutils literal notranslate"><span class="pre">to_torch</span></code></a></p></td>
<td><p>Convert this Series to a PyTorch Tensor.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.top_k.html#polars.Series.top_k" title="polars.Series.top_k"><code class="xref py py-obj docutils literal notranslate"><span class="pre">top_k</span></code></a></p></td>
<td><p>Return the <code class="code docutils literal notranslate"><span class="pre">k</span></code> largest elements.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.unique.html#polars.Series.unique" title="polars.Series.unique"><code class="xref py py-obj docutils literal notranslate"><span class="pre">unique</span></code></a></p></td>
<td><p>Get unique elements in series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.unique_counts.html#polars.Series.unique_counts" title="polars.Series.unique_counts"><code class="xref py py-obj docutils literal notranslate"><span class="pre">unique_counts</span></code></a></p></td>
<td><p>Return a count of the unique values in the order of appearance.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.upper_bound.html#polars.Series.upper_bound" title="polars.Series.upper_bound"><code class="xref py py-obj docutils literal notranslate"><span class="pre">upper_bound</span></code></a></p></td>
<td><p>Return the upper bound of this Series' dtype as a unit Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.value_counts.html#polars.Series.value_counts" title="polars.Series.value_counts"><code class="xref py py-obj docutils literal notranslate"><span class="pre">value_counts</span></code></a></p></td>
<td><p>Count the occurrences of unique values.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.var.html#polars.Series.var" title="polars.Series.var"><code class="xref py py-obj docutils literal notranslate"><span class="pre">var</span></code></a></p></td>
<td><p>Get variance of this Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.zip_with.html#polars.Series.zip_with" title="polars.Series.zip_with"><code class="xref py py-obj docutils literal notranslate"><span class="pre">zip_with</span></code></a></p></td>
<td><p>Take values from self or other based on the given mask.</p></td>
</tr>
</tbody>
</table>

# string functionalities in `polars`
https://docs.pola.rs/api/python/stable/reference/series/string.html

<table class="autosummary longtable table autosummary">
<tbody>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.concat.html#polars.Series.str.concat" title="polars.Series.str.concat"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.concat</span></code></a>([delimiter,&nbsp;ignore_nulls])</p></td>
<td><p>Vertically concatenate the string values in the column to a single string value.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.contains.html#polars.Series.str.contains" title="polars.Series.str.contains"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.contains</span></code></a>(pattern,&nbsp;*[,&nbsp;literal,&nbsp;...])</p></td>
<td><p>Check if the string contains a substring that matches a pattern.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.contains_any.html#polars.Series.str.contains_any" title="polars.Series.str.contains_any"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.contains_any</span></code></a>(patterns,&nbsp;*[,&nbsp;...])</p></td>
<td><p>Use the Aho-Corasick algorithm to find matches.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.count_matches.html#polars.Series.str.count_matches" title="polars.Series.str.count_matches"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.count_matches</span></code></a>(pattern,&nbsp;*[,&nbsp;literal])</p></td>
<td><p>Count all successive non-overlapping regex matches.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.decode.html#polars.Series.str.decode" title="polars.Series.str.decode"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.decode</span></code></a>(encoding,&nbsp;*[,&nbsp;strict])</p></td>
<td><p>Decode values using the provided encoding.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.encode.html#polars.Series.str.encode" title="polars.Series.str.encode"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.encode</span></code></a>(encoding)</p></td>
<td><p>Encode a value using the provided encoding.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.ends_with.html#polars.Series.str.ends_with" title="polars.Series.str.ends_with"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.ends_with</span></code></a>(suffix)</p></td>
<td><p>Check if string values end with a substring.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.escape_regex.html#polars.Series.str.escape_regex" title="polars.Series.str.escape_regex"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.escape_regex</span></code></a>()</p></td>
<td><p>Returns string values with all regular expression meta characters escaped.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.explode.html#polars.Series.str.explode" title="polars.Series.str.explode"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.explode</span></code></a>()</p></td>
<td><p>Returns a column with a separate row for every string character.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.extract.html#polars.Series.str.extract" title="polars.Series.str.extract"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.extract</span></code></a>(pattern[,&nbsp;group_index])</p></td>
<td><p>Extract the target capture group from provided patterns.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.extract_all.html#polars.Series.str.extract_all" title="polars.Series.str.extract_all"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.extract_all</span></code></a>(pattern)</p></td>
<td><p>Extract all matches for the given regex pattern.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.extract_groups.html#polars.Series.str.extract_groups" title="polars.Series.str.extract_groups"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.extract_groups</span></code></a>(pattern)</p></td>
<td><p>Extract all capture groups for the given regex pattern.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.extract_many.html#polars.Series.str.extract_many" title="polars.Series.str.extract_many"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.extract_many</span></code></a>(patterns,&nbsp;*[,&nbsp;...])</p></td>
<td><p>Use the Aho-Corasick algorithm to extract many matches.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.find.html#polars.Series.str.find" title="polars.Series.str.find"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.find</span></code></a>(pattern,&nbsp;*[,&nbsp;literal,&nbsp;strict])</p></td>
<td><p>Return the bytes offset of the first substring matching a pattern.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.find_many.html#polars.Series.str.find_many" title="polars.Series.str.find_many"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.find_many</span></code></a>(patterns,&nbsp;*[,&nbsp;...])</p></td>
<td><p>Use the Aho-Corasick algorithm to find all matches.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.head.html#polars.Series.str.head" title="polars.Series.str.head"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.head</span></code></a>(n)</p></td>
<td><p>Return the first n characters of each string in a String Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.join.html#polars.Series.str.join" title="polars.Series.str.join"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.join</span></code></a>([delimiter,&nbsp;ignore_nulls])</p></td>
<td><p>Vertically concatenate the string values in the column to a single string value.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.json_decode.html#polars.Series.str.json_decode" title="polars.Series.str.json_decode"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.json_decode</span></code></a>([dtype,&nbsp;...])</p></td>
<td><p>Parse string values as JSON.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.json_path_match.html#polars.Series.str.json_path_match" title="polars.Series.str.json_path_match"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.json_path_match</span></code></a>(json_path)</p></td>
<td><p>Extract the first match of JSON string with provided JSONPath expression.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.len_bytes.html#polars.Series.str.len_bytes" title="polars.Series.str.len_bytes"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.len_bytes</span></code></a>()</p></td>
<td><p>Return the length of each string as the number of bytes.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.len_chars.html#polars.Series.str.len_chars" title="polars.Series.str.len_chars"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.len_chars</span></code></a>()</p></td>
<td><p>Return the length of each string as the number of characters.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.normalize.html#polars.Series.str.normalize" title="polars.Series.str.normalize"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.normalize</span></code></a>([form])</p></td>
<td><p>Returns the Unicode normal form of the string values.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.pad_end.html#polars.Series.str.pad_end" title="polars.Series.str.pad_end"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.pad_end</span></code></a>(length[,&nbsp;fill_char])</p></td>
<td><p>Pad the end of the string until it reaches the given length.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.pad_start.html#polars.Series.str.pad_start" title="polars.Series.str.pad_start"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.pad_start</span></code></a>(length[,&nbsp;fill_char])</p></td>
<td><p>Pad the start of the string until it reaches the given length.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.replace.html#polars.Series.str.replace" title="polars.Series.str.replace"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.replace</span></code></a>(pattern,&nbsp;value,&nbsp;*[,&nbsp;...])</p></td>
<td><p>Replace first matching regex/literal substring with a new string value.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.replace_all.html#polars.Series.str.replace_all" title="polars.Series.str.replace_all"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.replace_all</span></code></a>(pattern,&nbsp;value,&nbsp;*[,&nbsp;...])</p></td>
<td><p>Replace all matching regex/literal substrings with a new string value.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.replace_many.html#polars.Series.str.replace_many" title="polars.Series.str.replace_many"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.replace_many</span></code></a>(patterns[,&nbsp;...])</p></td>
<td><p>Use the Aho-Corasick algorithm to replace many matches.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.reverse.html#polars.Series.str.reverse" title="polars.Series.str.reverse"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.reverse</span></code></a>()</p></td>
<td><p>Returns string values in reversed order.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.slice.html#polars.Series.str.slice" title="polars.Series.str.slice"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.slice</span></code></a>(offset[,&nbsp;length])</p></td>
<td><p>Extract a substring from each string value.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.split.html#polars.Series.str.split" title="polars.Series.str.split"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.split</span></code></a>(by,&nbsp;*[,&nbsp;inclusive])</p></td>
<td><p>Split the string by a substring.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.split_exact.html#polars.Series.str.split_exact" title="polars.Series.str.split_exact"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.split_exact</span></code></a>(by,&nbsp;n,&nbsp;*[,&nbsp;inclusive])</p></td>
<td><p>Split the string by a substring using <code class="code docutils literal notranslate"><span class="pre">n</span></code> splits.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.splitn.html#polars.Series.str.splitn" title="polars.Series.str.splitn"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.splitn</span></code></a>(by,&nbsp;n)</p></td>
<td><p>Split the string by a substring, restricted to returning at most <code class="code docutils literal notranslate"><span class="pre">n</span></code> items.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.starts_with.html#polars.Series.str.starts_with" title="polars.Series.str.starts_with"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.starts_with</span></code></a>(prefix)</p></td>
<td><p>Check if string values start with a substring.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.strip_chars.html#polars.Series.str.strip_chars" title="polars.Series.str.strip_chars"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.strip_chars</span></code></a>([characters])</p></td>
<td><p>Remove leading and trailing characters.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.strip_chars_start.html#polars.Series.str.strip_chars_start" title="polars.Series.str.strip_chars_start"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.strip_chars_start</span></code></a>([characters])</p></td>
<td><p>Remove leading characters.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.strip_chars_end.html#polars.Series.str.strip_chars_end" title="polars.Series.str.strip_chars_end"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.strip_chars_end</span></code></a>([characters])</p></td>
<td><p>Remove trailing characters.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.strip_prefix.html#polars.Series.str.strip_prefix" title="polars.Series.str.strip_prefix"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.strip_prefix</span></code></a>(prefix)</p></td>
<td><p>Remove prefix.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.strip_suffix.html#polars.Series.str.strip_suffix" title="polars.Series.str.strip_suffix"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.strip_suffix</span></code></a>(suffix)</p></td>
<td><p>Remove suffix.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.strptime.html#polars.Series.str.strptime" title="polars.Series.str.strptime"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.strptime</span></code></a>(dtype[,&nbsp;format,&nbsp;strict,&nbsp;...])</p></td>
<td><p>Convert a String column into a Date/Datetime/Time column.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.tail.html#polars.Series.str.tail" title="polars.Series.str.tail"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.tail</span></code></a>(n)</p></td>
<td><p>Return the last n characters of each string in a String Series.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.to_date.html#polars.Series.str.to_date" title="polars.Series.str.to_date"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.to_date</span></code></a>([format,&nbsp;strict,&nbsp;exact,&nbsp;...])</p></td>
<td><p>Convert a String column into a Date column.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.to_datetime.html#polars.Series.str.to_datetime" title="polars.Series.str.to_datetime"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.to_datetime</span></code></a>([format,&nbsp;time_unit,&nbsp;...])</p></td>
<td><p>Convert a String column into a Datetime column.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.to_decimal.html#polars.Series.str.to_decimal" title="polars.Series.str.to_decimal"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.to_decimal</span></code></a>([inference_length])</p></td>
<td><p>Convert a String column into a Decimal column.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.to_integer.html#polars.Series.str.to_integer" title="polars.Series.str.to_integer"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.to_integer</span></code></a>(*[,&nbsp;base,&nbsp;strict])</p></td>
<td><p>Convert an String column into an Int64 column with base radix.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.to_lowercase.html#polars.Series.str.to_lowercase" title="polars.Series.str.to_lowercase"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.to_lowercase</span></code></a>()</p></td>
<td><p>Modify strings to their lowercase equivalent.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.to_time.html#polars.Series.str.to_time" title="polars.Series.str.to_time"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.to_time</span></code></a>([format,&nbsp;strict,&nbsp;cache])</p></td>
<td><p>Convert a String column into a Time column.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.to_titlecase.html#polars.Series.str.to_titlecase" title="polars.Series.str.to_titlecase"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.to_titlecase</span></code></a>()</p></td>
<td><p>Modify strings to their titlecase equivalent.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.str.to_uppercase.html#polars.Series.str.to_uppercase" title="polars.Series.str.to_uppercase"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.to_uppercase</span></code></a>()</p></td>
<td><p>Modify strings to their uppercase equivalent.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.str.zfill.html#polars.Series.str.zfill" title="polars.Series.str.zfill"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.str.zfill</span></code></a>(length)</p></td>
<td><p>Pad the start of the string with zeros until it reaches the given length.</p></td>
</tr>
</tbody>
</table>

## Time in `polars`; `Temporal`

The following methods are available under the Series.dt attribute.

https://docs.pola.rs/api/python/stable/reference/series/temporal.html



<table class="autosummary longtable table autosummary">
<tbody>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.add_business_days.html#polars.Series.dt.add_business_days" title="polars.Series.dt.add_business_days"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.add_business_days</span></code></a>(n[,&nbsp;week_mask,&nbsp;...])</p></td>
<td><p>Offset by <code class="code docutils literal notranslate"><span class="pre">n</span></code> business days.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.base_utc_offset.html#polars.Series.dt.base_utc_offset" title="polars.Series.dt.base_utc_offset"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.base_utc_offset</span></code></a>()</p></td>
<td><p>Base offset from UTC.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.cast_time_unit.html#polars.Series.dt.cast_time_unit" title="polars.Series.dt.cast_time_unit"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.cast_time_unit</span></code></a>(time_unit)</p></td>
<td><p>Cast the underlying data to another time unit.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.century.html#polars.Series.dt.century" title="polars.Series.dt.century"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.century</span></code></a>()</p></td>
<td><p>Extract the century from underlying representation.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.combine.html#polars.Series.dt.combine" title="polars.Series.dt.combine"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.combine</span></code></a>(time[,&nbsp;time_unit])</p></td>
<td><p>Create a naive Datetime from an existing Date/Datetime expression and a Time.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.convert_time_zone.html#polars.Series.dt.convert_time_zone" title="polars.Series.dt.convert_time_zone"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.convert_time_zone</span></code></a>(time_zone)</p></td>
<td><p>Convert to given time zone for a Series of type Datetime.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.date.html#polars.Series.dt.date" title="polars.Series.dt.date"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.date</span></code></a>()</p></td>
<td><p>Extract (local) date.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.datetime.html#polars.Series.dt.datetime" title="polars.Series.dt.datetime"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.datetime</span></code></a>()</p></td>
<td><p>Extract (local) datetime.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.day.html#polars.Series.dt.day" title="polars.Series.dt.day"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.day</span></code></a>()</p></td>
<td><p>Extract the day from the underlying date representation.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.dst_offset.html#polars.Series.dt.dst_offset" title="polars.Series.dt.dst_offset"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.dst_offset</span></code></a>()</p></td>
<td><p>Additional offset currently in effect (typically due to daylight saving time).</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.epoch.html#polars.Series.dt.epoch" title="polars.Series.dt.epoch"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.epoch</span></code></a>([time_unit])</p></td>
<td><p>Get the time passed since the Unix EPOCH in the give time unit.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.hour.html#polars.Series.dt.hour" title="polars.Series.dt.hour"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.hour</span></code></a>()</p></td>
<td><p>Extract the hour from the underlying DateTime representation.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.is_leap_year.html#polars.Series.dt.is_leap_year" title="polars.Series.dt.is_leap_year"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.is_leap_year</span></code></a>()</p></td>
<td><p>Determine whether the year of the underlying date representation is a leap year.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.iso_year.html#polars.Series.dt.iso_year" title="polars.Series.dt.iso_year"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.iso_year</span></code></a>()</p></td>
<td><p>Extract ISO year from underlying Date representation.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.max.html#polars.Series.dt.max" title="polars.Series.dt.max"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.max</span></code></a>()</p></td>
<td><p>Return maximum as Python datetime.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.mean.html#polars.Series.dt.mean" title="polars.Series.dt.mean"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.mean</span></code></a>()</p></td>
<td><p>Return mean as python DateTime.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.median.html#polars.Series.dt.median" title="polars.Series.dt.median"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.median</span></code></a>()</p></td>
<td><p>Return median as python DateTime.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.microsecond.html#polars.Series.dt.microsecond" title="polars.Series.dt.microsecond"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.microsecond</span></code></a>()</p></td>
<td><p>Extract the microseconds from the underlying DateTime representation.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.millennium.html#polars.Series.dt.millennium" title="polars.Series.dt.millennium"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.millennium</span></code></a>()</p></td>
<td><p>Extract the millennium from underlying representation.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.millisecond.html#polars.Series.dt.millisecond" title="polars.Series.dt.millisecond"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.millisecond</span></code></a>()</p></td>
<td><p>Extract the milliseconds from the underlying DateTime representation.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.min.html#polars.Series.dt.min" title="polars.Series.dt.min"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.min</span></code></a>()</p></td>
<td><p>Return minimum as Python datetime.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.minute.html#polars.Series.dt.minute" title="polars.Series.dt.minute"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.minute</span></code></a>()</p></td>
<td><p>Extract the minutes from the underlying DateTime representation.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.month.html#polars.Series.dt.month" title="polars.Series.dt.month"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.month</span></code></a>()</p></td>
<td><p>Extract the month from the underlying date representation.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.month_end.html#polars.Series.dt.month_end" title="polars.Series.dt.month_end"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.month_end</span></code></a>()</p></td>
<td><p>Roll forward to the last day of the month.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.month_start.html#polars.Series.dt.month_start" title="polars.Series.dt.month_start"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.month_start</span></code></a>()</p></td>
<td><p>Roll backward to the first day of the month.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.nanosecond.html#polars.Series.dt.nanosecond" title="polars.Series.dt.nanosecond"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.nanosecond</span></code></a>()</p></td>
<td><p>Extract the nanoseconds from the underlying DateTime representation.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.offset_by.html#polars.Series.dt.offset_by" title="polars.Series.dt.offset_by"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.offset_by</span></code></a>(by)</p></td>
<td><p>Offset this date by a relative time offset.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.ordinal_day.html#polars.Series.dt.ordinal_day" title="polars.Series.dt.ordinal_day"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.ordinal_day</span></code></a>()</p></td>
<td><p>Extract ordinal day from underlying date representation.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.quarter.html#polars.Series.dt.quarter" title="polars.Series.dt.quarter"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.quarter</span></code></a>()</p></td>
<td><p>Extract quarter from underlying Date representation.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.replace.html#polars.Series.dt.replace" title="polars.Series.dt.replace"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.replace</span></code></a>(*[,&nbsp;year,&nbsp;month,&nbsp;day,&nbsp;...])</p></td>
<td><p>Replace time unit.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.replace_time_zone.html#polars.Series.dt.replace_time_zone" title="polars.Series.dt.replace_time_zone"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.replace_time_zone</span></code></a>(time_zone,&nbsp;*[,&nbsp;...])</p></td>
<td><p>Replace time zone for a Series of type Datetime.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.round.html#polars.Series.dt.round" title="polars.Series.dt.round"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.round</span></code></a>(every)</p></td>
<td><p>Divide the date/ datetime range into buckets.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.second.html#polars.Series.dt.second" title="polars.Series.dt.second"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.second</span></code></a>(*[,&nbsp;fractional])</p></td>
<td><p>Extract seconds from underlying DateTime representation.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.strftime.html#polars.Series.dt.strftime" title="polars.Series.dt.strftime"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.strftime</span></code></a>(format)</p></td>
<td><p>Convert a Date/Time/Datetime column into a String column with the given format.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.time.html#polars.Series.dt.time" title="polars.Series.dt.time"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.time</span></code></a>()</p></td>
<td><p>Extract (local) time.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.timestamp.html#polars.Series.dt.timestamp" title="polars.Series.dt.timestamp"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.timestamp</span></code></a>([time_unit])</p></td>
<td><p>Return a timestamp in the given time unit.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.to_string.html#polars.Series.dt.to_string" title="polars.Series.dt.to_string"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.to_string</span></code></a>([format])</p></td>
<td><p>Convert a Date/Time/Datetime column into a String column with the given format.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.total_days.html#polars.Series.dt.total_days" title="polars.Series.dt.total_days"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.total_days</span></code></a>()</p></td>
<td><p>Extract the total days from a Duration type.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.total_hours.html#polars.Series.dt.total_hours" title="polars.Series.dt.total_hours"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.total_hours</span></code></a>()</p></td>
<td><p>Extract the total hours from a Duration type.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.total_microseconds.html#polars.Series.dt.total_microseconds" title="polars.Series.dt.total_microseconds"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.total_microseconds</span></code></a>()</p></td>
<td><p>Extract the total microseconds from a Duration type.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.total_milliseconds.html#polars.Series.dt.total_milliseconds" title="polars.Series.dt.total_milliseconds"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.total_milliseconds</span></code></a>()</p></td>
<td><p>Extract the total milliseconds from a Duration type.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.total_minutes.html#polars.Series.dt.total_minutes" title="polars.Series.dt.total_minutes"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.total_minutes</span></code></a>()</p></td>
<td><p>Extract the total minutes from a Duration type.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.total_nanoseconds.html#polars.Series.dt.total_nanoseconds" title="polars.Series.dt.total_nanoseconds"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.total_nanoseconds</span></code></a>()</p></td>
<td><p>Extract the total nanoseconds from a Duration type.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.total_seconds.html#polars.Series.dt.total_seconds" title="polars.Series.dt.total_seconds"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.total_seconds</span></code></a>()</p></td>
<td><p>Extract the total seconds from a Duration type.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.truncate.html#polars.Series.dt.truncate" title="polars.Series.dt.truncate"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.truncate</span></code></a>(every)</p></td>
<td><p>Divide the date/ datetime range into buckets.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.week.html#polars.Series.dt.week" title="polars.Series.dt.week"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.week</span></code></a>()</p></td>
<td><p>Extract the week from the underlying date representation.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.weekday.html#polars.Series.dt.weekday" title="polars.Series.dt.weekday"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.weekday</span></code></a>()</p></td>
<td><p>Extract the week day from the underlying date representation.</p></td>
</tr>
<tr class="row-even"><td><p><a class="reference internal" href="api/polars.Series.dt.with_time_unit.html#polars.Series.dt.with_time_unit" title="polars.Series.dt.with_time_unit"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.with_time_unit</span></code></a>(time_unit)</p></td>
<td><p>Set time unit a Series of dtype Datetime or Duration.</p></td>
</tr>
<tr class="row-odd"><td><p><a class="reference internal" href="api/polars.Series.dt.year.html#polars.Series.dt.year" title="polars.Series.dt.year"><code class="xref py py-obj docutils literal notranslate"><span class="pre">Series.dt.year</span></code></a>()</p></td>
<td><p>Extract the year from the underlying date representation.</p></td>
</tr>
</tbody>
</table>

[reference](https://docs.pola.rs/api/python/stable/reference/sql/clauses.html)

```python
df1 = pl.DataFrame(
  {
    "foo": [1, 2, 3],
    "ham": ["a", "b", "c"],
  }
)
df2 = pl.DataFrame(
  {
    "apple": ["x", "y", "z"],
    "ham": ["a", "b", "d"],
  }
)
pl.sql("""
        SELECT foo, apple, COALESCE(df1.ham, df2.ham) AS ham
        FROM df1 FULL JOIN df2
        USING (ham)
""").collect()
```

### SQL read possibilities

https://docs.pola.rs/user-guide/io/database/#difference-between-read_database_uri-and-read_database

In [ ]:
%who

cols	 drive	 my_list	 np	 pd	 pl

In [ ]:
%whos

Variable   Type      Data/Info
------------------------------
cols       list      n=4
drive      module    <module 'google.colab.dri<...>s/google/colab/drive.py'>
my_list    list      n=1000000
np         module    <module 'numpy' from '/us<...>kages/numpy/__init__.py'>
pd         module    <module 'pandas' from '/u<...>ages/pandas/__init__.py'>
pl         module    <module 'polars' from '/u<...>ages/polars/__init__.py'>

In [ ]:
df.head()

NameError: name 'df' is not defined

In [ ]:
df = pl.DataFrame()

In [ ]:
type(df)

polars.dataframe.frame.DataFrame

In [ ]:
df.r*?

### duckdb; **Opensource SQL DB and query engine**

  - duckdb as SQL DB $\to$ not this course concern
  - [duckdb as query engine](https://duckdb.org/why_duckdb)

### [Standing on the Shoulders of Giants](https://duckdb.org/why_duckdb#standing-on-the-shoulders-of-giants)

> DuckDB uses some components from various open-source projects and draws inspiration from scientific publications. We are very grateful for this. Here is an overview:

<ul>
  <li><strong>Execution engine:</strong> The vectorized execution engine is inspired by the paper <a href="http://cidrdb.org/cidr2005/papers/P19.pdf" class="externallink" target="_blank">MonetDB/X100: Hyper-Pipelining Query Execution</a> by Peter Boncz, Marcin Zukowski and Niels Nes. MonetDB/X100 later became the <a href="https://ir.cwi.nl/pub/19958/19958B.pdf" class="externallink" target="_blank">Vectorwise (Actian Vector) database system</a>.</li>
  <li><strong>Optimizer:</strong> DuckDB's optimizer draws inspiration from the papers <a href="https://15721.courses.cs.cmu.edu/spring2020/papers/20-optimizer2/p539-moerkotte.pdf" class="externallink" target="_blank">Dynamic programming strikes back</a> by Guido Moerkotte and Thomas Neumann as well as <a href="http://www.btw-2015.de/res/proceedings/Hauptband/Wiss/Neumann-Unnesting_Arbitrary_Querie.pdf" class="externallink" target="_blank">Unnesting Arbitrary Queries</a> by Thomas Neumann and Alfons Kemper.</li>
  <li><strong>Concurrency control:</strong> Our MVCC implementation is inspired by the paper <a href="https://db.in.tum.de/~muehlbau/papers/mvcc.pdf" class="externallink" target="_blank">Fast Serializable Multi-Version Concurrency Control for Main-Memory Database Systems</a> by Thomas Neumann, Tobias Mühlbauer and Alfons Kemper.</li>
  <li><strong>Secondary indexes:</strong> DuckDB has support for secondary indexes based on the paper <a href="https://db.in.tum.de/~leis/papers/ART.pdf" class="externallink" target="_blank">The Adaptive Radix Tree: ARTful Indexing for Main-Memory Databases</a> by Viktor Leis, Alfons Kemper and Thomas Neumann.</li>
  <li><strong>SQL window functions:</strong> DuckDB's window functions implementation uses Segment Tree Aggregation as described in the paper <a href="https://www.vldb.org/pvldb/vol8/p1058-leis.pdf" class="externallink" target="_blank">Efficient Processing of Window Functions in Analytical SQL Queries</a> by Viktor Leis, Kan Kundhikanjana, Alfons Kemper and Thomas Neumann.</li>
  <li><strong>SQL inequality joins:</strong> DuckDB's inequality join implementation uses the IEJoin algorithm as described in the paper <a href="https://vldb.org/pvldb/vol8/p2074-khayyat.pdf" class="externallink" target="_blank">Lightning Fast and Space Efficient Inequality Joins</a>
Zuhair Khayyat, William Lucia, Meghna Singh, Mourad Ouzzani, Paolo Papotti, Jorge-Arnulfo Quiané-Ruiz, Nan Tang and Panos Kalnis.</li>
  <li><strong>Compression of floating-point values:</strong> DuckDB supports the multiple algorithms for compressing floating-point values:
    <ul>
      <li><a href="https://vldb.org/pvldb/vol15/p3058-liakos.pdf" class="externallink" target="_blank">Chimp</a> by Panagiotis Liakos, Katia Papakonstantinopoulou and Yannis Kotidi</li>
      <li><a href="https://github.com/duckdb/duckdb/pull/5044" class="externallink" target="_blank">Patas</a>, an in-house development</li>
      <li><a href="https://dl.acm.org/doi/pdf/10.1145/3626717" class="externallink" target="_blank">ALP (adaptive lossless floating-point compression)</a> by Azim Afroozeh, Leonard Kuffo and Peter Boncz, who also <a href="https://github.com/duckdb/duckdb/pull/9635" class="externallink" target="_blank">contributed their implementation</a></li>
    </ul>
  </li>
  <li><strong>SQL Parser:</strong> We use the PostgreSQL parser that was <a href="https://github.com/lfittl/libpg_query" class="externallink" target="_blank">repackaged as a stand-alone library</a>. The translation to our own parse tree is inspired by <a href="https://pelotondb.io" class="externallink" target="_blank">Peloton</a>.</li>
  <li><strong>Shell:</strong> We use the <a href="https://sqlite.org/cli.html" class="externallink" target="_blank">SQLite shell</a> to work with DuckDB.</li>
  <li><strong>Regular expressions:</strong> DuckDB uses Google's <a href="https://github.com/google/re2" class="externallink" target="_blank">RE2</a> regular expression engine.</li>
  <li><strong>String formatting:</strong> DuckDB uses the <a href="https://github.com/fmtlib/fmt" class="externallink" target="_blank">fmt</a> string formatting library.</li>
  <li><strong>UTF wrangling:</strong> DuckDB uses the <a href="https://juliastrings.github.io/utf8proc/" class="externallink" target="_blank">utf8proc</a> library to check and normalize UTF8.</li>
  <li><strong>Collation and time:</strong> DuckDB uses the <a href="https://unicode-org.github.io/icu/" class="externallink" target="_blank">ICU</a> library for collation, time zone, and calendar support.</li>
  <li><strong>Test framework:</strong> DuckDB uses the <a href="https://github.com/catchorg/Catch2" class="externallink" target="_blank">Catch2</a> unit test framework.</li>
  <li><strong>Test cases:</strong> We use the <a href="https://www.sqlite.org/sqllogictest/doc/trunk/about.wiki" class="externallink" target="_blank">SQL Logic Tests from SQLite</a> to test DuckDB.</li>
  <li><strong>Result validation:</strong> <a href="https://www.manuelrigger.at" class="externallink" target="_blank">Manuel Rigger</a> used his excellent <a href="https://github.com/sqlancer/sqlancer" class="externallink" target="_blank">SQLancer</a> tool to verify DuckDB result correctness.</li>
  <li><strong>Query fuzzing:</strong> We use <a href="https://github.com/anse1/sqlsmith" class="externallink" target="_blank">SQLsmith</a> via the <a href="/docs/stable/core_extensions/sqlsmith.html"><code class="language-plaintext highlighter-rouge">sqlsmith</code> extension</a> to generate random queries for additional testing.</li>
  <li><strong>JSON parser:</strong> We use <a href="https://github.com/ibireme/yyjson" class="externallink" target="_blank">yyjson</a>, a high performance JSON library written in ANSI C, to parse JSON in DuckDB's <a href="/docs/stable/data/json/overview.html">JSON Extension</a>.</li>
</ul>

```python
import duckdb

duckdb.read_csv("example.csv")                # read a CSV file into a Relation
duckdb.read_parquet("example.parquet")        # read a Parquet file into a Relation
duckdb.read_json("example.json")              # read a JSON file into a Relation

duckdb.sql("SELECT * FROM 'example.csv'")     # directly query a CSV file
duckdb.sql("SELECT * FROM 'example.parquet'") # directly query a Parquet file
duckdb.sql("SELECT * FROM 'example.json'")    # directly query a JSON file
```

```python
duckdb.sql("SELECT ------ FROM table WHERE c1> 10 and c2< 12").fetchall()   # Python objects
duckdb.sql("SELECT ------ FROM table WHERE c1> 10 and c2< 12").df()         # Pandas DataFrame
duckdb.sql("SELECT ------ FROM table WHERE c1> 10 and c2< 12").pl()         # Polars DataFrame
duckdb.sql("SELECT ------ FROM table WHERE c1> 10 and c2< 12").arrow()      # Arrow Table
duckdb.sql("SELECT ------ FROM table WHERE c1> 10 and c2< 12").fetchnumpy() # NumPy Arrays
```

## narwhals module

- `dataframe agnostic` data aggregation and transformation modules
- [Github link](https://github.com/narwhals-dev/narwhals)

## cheatsheets on `polars`
- [Franz Diebold polars-cheat-sheet](https://colab.research.google.com/github/FranzDiebold/polars-cheat-sheet/blob/main/polars-cheat-sheet.ipynb)

- [rhosignal polars-pandas-cheatsheet](https://www.rhosignal.com/posts/polars-pandas-cheatsheet/)
- [bitsnaps polars-cheat-sheet](https://gist.github.com/bitsnaps/aa83219c4ffdd04e56b76bb23523bfb2)